@-webkit-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-ms-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-webkit-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-ms-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

body>article>section:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.main {
    -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
    -o-box-shaodw: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding-bottom: 100px;
    position: relative;
    z-index: 2
}

body>article>section.main section {
    float: right;
    margin-top: 30px;
    width: 425px
}

body>article>section.main section a.cta {
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background: #8235B2;
    color: #fff;
    display: block;
    font-weight: 600;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    float: left;
    width: 200px
}

body>article>section.main section a.cta:hover {
    background: #903cc5;
    text-decoration: none
}

body>article>section.main section a.button {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background: #008FC5;
    display: block;
    width: 90px;
    height: 90px;
    position: relative;
    text-align: center;
    float: right;
    margin: -10px 40px 0 0
}

body>article>section.main section a.button strong {
    color: #fff;
    display: block;
    left: 2px;
    line-height: 1;
    position: absolute;
    top: 17px;
    z-index: 2
}

body>article>section.main section a.button strong em {
    display: block;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 5px
}

body>article>section.main section a.button:before,
body>article>section.main section a.button:after {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background: #008FC5;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 90px
}

body>article>section.main section a.button:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg)
}

body>article>section.main section a.button:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg)
}

body>article>section.main section a.button:hover {
    background: #00a2df
}

body>article>section.main section a.button:hover:before,
body>article>section.main section a.button:hover:after {
    background: #00a2df
}

body>article>section.main section>strong {
    color: #3bb44a;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px
}

body>article>section.main section>strong a {
    color: #3bb44a;
    text-decoration: underline
}

body>article>section.main section>strong a:hover {
    color: #32993f
}

body>article>section.main section ul {
    list-style: inside disc none;
    margin-bottom: 30px
}

body>article>section.main section ul li {
    font-size: 14px;
    margin-bottom: 10px
}

body>article>section.main section ul li strong {
    font-weight: 700;
    font-size: 15px
}

body>article>section.main section.video {
    float: left;
    margin-top: 0;
    width: 475px
}

body>article>section.main section.video h3 {
    color: #777;
    font-family: "Manwriting", sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center
}

body>article>section.main section.video img {
    display: inline-block;
    margin: 0 0 -20px 7px
}

body>article>section.mobile {
    border-top: 1px solid #e2e2e2;
    font-size: 30px;
    padding: 30px 0;
    text-align: center
}

body>article>section.mobile strong {
    letter-spacing: -0.025em
}

body>article>section.mobile strong a {
    text-decoration: underline
}

body>article>section.features {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    position: relative
}

body>article>section.features:before {
    background: #e2e2e2;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 354px;
    width: 100%
}

body>article>section.features section {
    float: left;
    margin: 20px 0;
    padding: 40px;
    width: 398px
}

body>article>section.features section.no-border {
    border: 0;
}

body>article>section.features section img {
    float: left;
    margin-top: 20px
}

body>article>section.features section h1 {
    float: right;
    width: 238px
}

body>article>section.features section h1 a {
    color: #333;
    font-size: 18px;
    font-weight: 600
}

body>article>section.features section h1 a:hover {
    text-decoration: underline
}

body>article>section.features section p,
body>article>section.features section>a {
    float: right
}

body>article>section.features section p {
    margin: 10px 0 20px;
    width: 238px
}

body>article>section.features section>a {
    display: block;
    font-weight: 600;
    width: 238px
}

body>article>section#featured-gh {
    border-bottom: 1px solid #e2e2e2;
    padding: 60px 120px
}

body>article>section#featured-gh h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 40px;
    text-align: center
}

body>article>section#featured-gh ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section#featured-gh ul li {
    display: block;
    float: left
}

body>article>section#featured-gh ul li.even {
    margin: 0 80px
}

body>article>section#featured-gh ul li a {
    color: #333;
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.025em;
    text-align: center;
    text-transform: capitalize;
    width: 180px
}

body>article>section#featured-gh ul li a img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #333;
    display: block;
    height: 180px;
    width: 100%;
    margin-bottom: 20px
}

body>article>section.promo-area {
    border-bottom: 1px solid #e2e2e2;
    padding: 60px 50px 40px 50px
}

body>article>section.promo-area:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.promo-area section.slider {
    position: relative
}

body>article>section.promo-area section.slider>a {
    display: block;
    height: 42px;
    opacity: 0.6;
    position: absolute;
    text-indent: -999em;
    width: 24px
}

body>article>section.promo-area section.slider>a.next,
body>article>section.promo-area section.slider>a.prev {
    height: 300px;
    padding: 0 20px;
    top: 0;
    bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body>article>section.promo-area section.slider>a.next:hover,
body>article>section.promo-area section.slider>a.prev:hover {
    opacity: 0.9
}

body>article>section.promo-area section.slider>a.next {
    background: url("../img/png/arrows/slider-right.png") 50% no-repeat;
    right: -85px
}

body>article>section.promo-area section.slider>a.prev {
    background: url("../img/png/arrows/slider-left.png") 50% no-repeat;
    display: none;
    left: -85px
}

body>article>section.promo-area section.slider div.gallery {
    height: 310px;
    overflow: hidden;
    position: relative;
    width: 100%
}

body>article>section.promo-area section.slider div.gallery ul {
    overflow-y: hidden;
    position: absolute;
    min-width: 1673px
}

body>article>section.promo-area section.slider div.gallery ul li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    vertical-align: top;
    width: 860px;
    z-index: 1
}

body>article>section.promo-area section.slider div.gallery ul li:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.promo-area section.slider div.gallery ul li:last-of-type {
    margin-right: 0
}

body>article>section.promo-area section.slider div.gallery ul li a img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    float: left;
    margin-right: 70px;
    width: 382px
}

body>article>section.promo-area section.slider div.gallery ul li>strong,
body>article>section.promo-area section.slider div.gallery ul li span {
    float: right;
    margin-bottom: 20px;
    width: 400px
}

body>article>section.promo-area section.slider div.gallery ul li>strong {
    margin-top: 40px
}

body>article>section.promo-area section.slider div.gallery ul li>strong a {
    color: #333;
    font-size: 22px;
    font-weight: 700
}

body>article>section.promo-area section.slider div.gallery ul li>strong a:hover {
    text-decoration: underline
}

body>article>section.promo-area section.slider div.gallery ul li span {
    display: block;
    font-size: 18px;
    font-family: 'Palanquin', sans-serif;
}

body>article>section.promo-area section.slider div.gallery ul li span a {
    display: block;
    font-size: 20px;
    margin-top: 20px
}

body>article>section.promo-area section.slider div.gallery ul li span a strong {
    font-weight: 700
}

body>article>section.promo-area section.slider ul#indicator {
    display: block;
    margin: 0 auto;
    width: 58px
}

body>article>section.promo-area section.slider ul#indicator li {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background: #ddd;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin-right: 8px;
    width: 8px;
    text-indent: -999em
}

body>article>section.promo-area section.slider ul#indicator li.active {
    background: #bbb
}

@-webkit-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-ms-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@media screen and (max-width: 767px) {
    body>article>section.main section {
        float: none;
        margin-top: 40px;
        width: 100%
    }
    body>article>section.main section ul {
        list-style: outside;
        padding-left: 5%
    }
    body>article>section.main section strong {
        text-align: center
    }
    body>article>section.main section a.cta {
        float: none;
        margin: 0 auto 0 auto
    }
    body>article>section.main section a.button {
        float: none;
        margin: 40px auto 0 auto
    }
    body>article>section.main section.video {
        float: none;
        margin: 0 0 40px 0;
        width: 100%
    }
    body>article>section.main section.video iframe {
        display: block;
        float: none;
        margin: 0;
        width: 100%
    }
    body>article>section.news {
        height: auto
    }
    body>article>section.news:before {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shaodw: none;
        box-shadow: none
    }
    body>article>section.features {
        padding: 20px 0
    }
    body>article>section.features:before {
        display: none
    }
    body>article>section.features section {
        border: 0;
        margin: 0;
        padding: 20px 0;
        width: 100%
    }
    body>article>section.features section img {
        display: block;
        float: none;
        height: auto;
        margin: 0 0 20px 0;
        width: 100%
    }
    body>article>section.features section h1,
    body>article>section.features section p,
    body>article>section.features section a {
        float: none;
        height: auto;
        width: 100%
    }
    body>article>section#featured-gh {
        padding: 60px 0
    }
    body>article>section#featured-gh ul li {
        float: none
    }
    body>article>section#featured-gh ul li.even {
        margin: 40px 0
    }
    body>article>section#featured-gh ul li a {
        width: auto
    }
    body>article>section#featured-gh ul li a img {
        margin: 0 auto 20px auto;
        width: 180px
    }
    body>article>section.promo-area {
        padding: 60px 0 40px 0
    }
    body>article>section.promo-area section.slider div.gallery {
        height: auto;
        overflow: visible
    }
    body>article>section.promo-area section.slider div.gallery ul {
        max-width: 100%;
        min-width: 100%;
        overflow: visible;
        position: relative
    }
    body>article>section.promo-area section.slider div.gallery ul li {
        display: block;
        margin: 0 0 20px 0;
        width: 100%
    }
    body>article>section.promo-area section.slider div.gallery ul li a img,
    body>article>section.promo-area section.slider div.gallery ul li strong,
    body>article>section.promo-area section.slider div.gallery ul li span {
        float: none;
        width: 100%
    }
    body>article>section.promo-area section.slider div.gallery ul li>strong {
        display: block;
        margin: 20px 0 10px 0
    }
    body>article>section.promo-area section.slider div.gallery ul li a img {
        margin: 0
    }
    body>article>section.promo-area section.slider ul#indicator {
        display: none
    }
    body>article>section.promo-area img {
        float: none;
        margin-right: 0;
        width: 100%
    }
    body>article>section.promo-area h1,
    body>article>section.promo-area p,
    body>article>section.promo-area a {
        float: none;
        width: auto
    }
}

body>article>section.main .cta {
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background: #8235B2;
    color: #fff;
    display: block;
    font-weight: 600;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    margin: 0px auto;
    margin-top: 60px;
    width: 260px;
}

body>article>section.main .cta:hover{
    background: #823FBF;
}

body>article>section.main ol {
    list-style: none;
    margin-top: 20px;
}

body>article>section.main ol li:first-child {
    margin-left: 20px;
}

body>article>section.main ol li {
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 45px;
    width: 200px;
    vertical-align: bottom;
}

body>article>section.main ol:after{
  content: "";
  display: table;
  clear: both;
}

.trusted-description{
    font-size: 24px;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
}

.benefits{
    font-size: 19px;
    font-family: 'Palanquin', sans-serif;
}

h1{
    font-weight: bold;
    font-size: 21px;
    font-family: 'Palanquin Dark', sans-serif;
}

.border-left{
    border-left: 1px solid #e2e2e2
}

.border-right{
    border-right: 1px solid #e2e2e2
}

.webinar span{
    margin-top: 10px;
}