      <aside class="support">
            <ul>
                <li>24/7 Live U.S. Support</li>
                <li>•</li>
                <li>Upgrade Anytime</li>
            </ul>
        </aside>
        <footer>
            <nav>
                <ol>
                    <li><a href="/refer-an-entrepreneur/">About</a></li>
                    <li><a href="/iphone-app/">Contact Us</a></li>
                    <li><strong><a id="footer-tel" href="tel:8002791455&gt;">(877) 660-ATMS (2867)</a></strong></li>
                </ol>
            </nav>
            <nav>
                <ol>
                    <li><small>© Copyright 2017 Cash Monkey. All Rights Reserved.</small></li>
                </ol>
            </nav>
        </footer>
    </article>