
<div id="side-button" class="non-zero-width">
    <p>S</p>
    <p>c</p>
    <p>h</p>
    <p>e</p>
    <p>d</p>
    <p>u</p>
    <p>l</p>
    <p>e</p>
    <br>
    <p>N</p>
    <p>o</p>
    <p>w</p>
</div>