<div id="side-button">
    <span>S</span>
    <span>c</span>
    <span>h</span>
    <span>e</span>
    <span>d</span>
    <span>u</span>
    <span>l</span>
    <span>e</span>
    <br>
    <span>N</span>
    <span>o</span>
    <span>w</span>
</div>