
<div id="side-button" class="non-zero-width">
    <p>S</p>
    <p>C</p>
    <p>H</p>
    <p>E</p>
    <p>D</p>
    <p>U</p>
    <p>L</p>
    <p>E</p>
    <br>
    <p>N</p>
    <p>O</p>
    <p>W</p>
</div>