<!doctype html>
<html>

<head>
    <meta charset=utf-8>
    <meta content="IE=edge,chrome=1" http-equiv=X-UA-Compatible>
    <meta name=viewport content="width=device-width">
 
 
    <link rel=icon href="../favicon.ico" type="image/x-icon" />
 
    <title>Cash Monkey</title>
 
    <link href="../global-1490894872.css" media=screen rel=stylesheet />
    <link href="./about-1490894868.css" media=screen rel=stylesheet />
</head>
 
<body class="about about_index">
    <header>
        <a id=logo href="/"><img src="" width=139 height=27 alt="Cash Monkey" /></a>
        <nav>
            <ol>
                <li><a class="" href="/">Home</a></li>
                <li><a class="" data-km=main_nav href="/how-it-works">How It Works</a></li>
                <li><a class="" href="/happy-customers">Happy Customers</a></li>
                <li><a class="signup" data-km=main_nav href="/signup">Schedule Now</a></li>
            </ol>
        </nav>
    </header>
    <article>
        <section class=main>
            <h1>About Cash Monkey</h1>
            <h2>A Certified ACFN Franchisee</h2>
            <figure> <img src="../assets/img/png/about/about.png" alt="About Us" title="About Us" /> </figure>
            <article>
                <h3>A Credible and Capable ATM Provider</h3>
                <p>In the complex and competitive industry of ATM servicing, you may find different service providers that offer amazing products and comprehensive deals. However, considering a company’s credibility and capability as your ATM provider is just as important as learning about their ATM placement offers. Choose none other than Cash Monkey! </p>
                <p>We are preferred by many local business owners for our integrity, professionalism, and commitment to our business partners’ growth and success.</p>
            </article>
        </section>
        <section class=main>
            <h1>Ask About Our ATM Placement Deals</h1>
             <figure> <img src="../assets/img/png/about/about.png" alt="About Us" title="About Us" /> </figure>
            <article>
            
            <p>
                Make Cash Monkey your trusted ATM provider! As a certified ACFN franchisee, we guarantee that we have the flexibility and resources to keep your ATMs stocked and operational at all times. With us, you don’t have to worry about your ATM breaking down at night or running out of money to dispense on holidays! Invite us over to your office today, and we will gladly present you our ATM placement proposal. We look forward to working with you!
            </p>
            </article>
        </section>
        {{> footer}}
    </article>
</body>

</html>