<!doctype html>
<html>

<head>
    <meta charset=utf-8>
    <meta content="IE=edge,chrome=1" http-equiv=X-UA-Compatible>
    <meta name=viewport content="width=device-width">
 
 
    <link rel=icon href="../favicon.ico" type="image/x-icon" />
 
    <title>Cash Monkey</title>
 
    <link href="../global-1490894872.css" media=screen rel=stylesheet />
    <link href="./about-1490894868.css" media=screen rel=stylesheet />
</head>
 
<body class="about about_index">
    <header>
        <a id=logo href="/"><img src="" width=139 height=27 alt="Cash Monkey" /></a>
        <nav>
            <ol>
                <li><a class="" href="/">Home</a></li>
                <li><a class="" data-km=main_nav href="../how-it-works-and-features/index.html">How It Works</a></li>
                <li><a class="" href="../happy-customers/index.html">Happy Customers</a></li>
                <li><a class=signup data-km=main_nav href="http://grasshopper.com/signup">Pricing <span class=amp>&amp;</span> Sign Up</a></li>
            </ol>
        </nav>
    </header>
    <article>
        <section class=main>
            <h1>About Grasshopper</h1>
            <h2>Built by entrepreneurs, for entrepreneurs</h2>
            <figure> <img src="../assets/img/png/about/about.png" alt="About Us" title="About Us" /> </figure>
            <article>
                <h3>Over 300,000 Entrepreneurs Served Since 2003</h3>
                <p>Founded by two entrepreneurs, Grasshopper has been making it easier to start and grow a small business since
                    2003. Back then, we started as just two guys with a dream and to date have served over 300,000 entrepreneurs
                    (and we're still growing).</p>
                <p>Today our commitment to helping entrepreneurs is stronger than ever, and we continue to develop new and innovative
                    tools to help them change the world.</p>
                <ul>
                    <li><a href="index.html#buzz">News <span class=amp>&amp;</span> Buzz</a></li>
                    <li><a href="index.html#careers">Careers</a></li>
                    <li><a href="index.html#team">Management Team</a></li>
                </ul>
            </article>
        </section>
        <section class=news>
            <a class=logos href="../buzz-and-awards/index.html"> <img src="../assets/img/png/news/inc500.png" class=inc500 alt=Inc500 title=Inc500 /> <img src="../assets/img/png/news/cnn.png"
                    class=cnn alt=CNN title=CNN /> <img src="../assets/img/png/news/fox-biz.png" class=foxbiz alt="Fox Business"
                    title="Fox Business" /> <img src="../assets/img/png/news/forbes.png" class=forbes alt=Forbes title=Forbes
                /> </a> <a class=button href="http://grasshopper.com/signup"><strong><em>30 Day</em>Money Back Guarantee</strong></a>            <a class=cta href="http://grasshopper.com/signup">Get a Number <span class=amp>&amp;</span> Sign Up &#187;</a>            </section>
        <section id=buzz>
            <h1>News <span class=amp>&amp;</span> Buzz</h1>
            <blockquote id=fb class="green company"> <img src="../assets/img/png/about/forbes.png"> <q>Why You Should Think Like a Fortune 500 CEO from Day 1- and Other Branding Lessons from Grasshopper</q>                </blockquote>
            <blockquote id=ad> <q>Wow. <a href="http://twitter.com/grasshopper">@Grasshopper</a>'s virtual PBX just made me squeal with delight!</q>                <img src="../assets/img/png/about/adria.png"> <cite><em>Adria Richards</em>@adriarichards</cite> </blockquote>
            <blockquote id=fc class="green company"> <img src="../assets/img/png/about/fast-company.png"> <q>The business of being human</q> </blockquote>
            <blockquote
                id=inc class="green company"> <img src="../assets/img/png/about/inc.png"> <q>Start-up on a Budget: 14 Cheap Tools</q> </blockquote>
                <blockquote
                    id=ca class=purple> <q>I am now a huge fan of Grasshopper &hellip; truly saved the day (and my sanity).</q> <img src="../assets/img/png/carolyn-appleton.png">                    <cite><em>Carolyn Appleton</em>Carolyn M. Appleton, Inc.</cite> </blockquote>
                    <blockquote id=mk> <q><a href="http://twitter.com/grasshopper">@grasshopper</a> I do &lt;3 my Grasshopper phone number - can’t help but sharing it!!</q>                        <img src="../assets/img/png/about/marenkate.png"> <cite><em>Maren Kate</em>@marenkate</cite> </blockquote>
                    <blockquote id=cb> <q>Even though we live in the world of email <span class=amp>&amp;</span> texting, faxing still exists. I love how <a href="http://twitter.com/grasshopper">@grasshopper</a> sends them to me via email in PDF format!!</q>                        <img src="../assets/img/png/about/chenese.png"> <cite><em>Chenese Bean, MUA</em>@mschense</cite>                        </blockquote>
                    <blockquote id=pc class="green company"> <img src="../assets/img/png/about/pcworld.png"> <q>How to Start a New Business on the Cheap</q> </blockquote>
                    <blockquote id=ab class=purple> <q>Having a phone number on our site increased conversion of site visitors to sign ups and paid users!</q>                        <img src="../assets/img/png/allan-branch.png"> <cite><em>Allan Branch</em>LessAccounting</cite> </blockquote>
        </section>
        <section id=careers>
            <h1>We Love Our Team and Culture</h1>
            <div class=video>
                <h3>Check out our in-flight culture video <img src="../assets/img/png/arrows/curved.png" alt="curved arrow" /></h3>
                <iframe width=608 height=363 src="http://www.youtube.com/embed/nCrmb0TB40U" frameborder=0 allowfullscreen=""></iframe>
            </div>
            <article>
                <p>Grasshopper employees are outstanding at what they do, and we expect nothing less from prospective candidates.
                    We're looking for dynamic team players that set the bar high, and then surpass it.</p>
                <p>We're not talking about automatons though – you've got to have a little soul. That means we expect you to
                    play as hard as you work.</p>
                <p>Luckily, at Grasshopper, it's possible to do both.</p> <a href="../careers/index.html">Careers at Grasshopper &#187;</a>                </article>
            <figure> <img src="../assets/img/png/about/grasshopper-collage.png" alt=Careers title=Careers /> </figure>
        </section>
        <section id=team>
            <h1>Meet the Founders <span class=amp>&amp;</span> Management Team</h1>
            <ol>
                <li>
                    <a href="index.html#st" class=actuator> <img src="../assets/img/png/about/st-small.png" />
                        <h1>Siamak Taghaddos</h1>
                        <h2>Co-founder</h2> <img src="../assets/img/png/about/bio.png" class=bio /> </a>
                    <article class=st id=st>
                    <img src="../assets/img/png/about/st-large.png">
                        <h1>Siamak Taghaddos</h1>
                        <h2>Co-founder</h2>
                        <p>Siamak Taghaddos oversees the strategic direction of Grasshopper and serves as the company's brand
                            and product visionary. A life-long student of marketing, Siamak could be described as a one-man,
                            full-service ad agency. Prior to serving as CEO of Grasshopper, Siamak founded a communications
                            company and developed marketing campaigns targeting the elusive youth market for College Coach,
                            Bright Horizons' educational consulting division. Siamak serves as a judge for numerous Babson
                            entrepreneurship competitions, is an advisor to EntrepreneurShares, and is the founding supporter
                            of National Entrepreneurs' Day.</p>
                        <p>Siamak was born in Iran and grew up in Boston. He graduated from Babson College with a Bachelor of
                            Science degree in entrepreneurship and marketing where he won the Business Plan Competition and
                            received the Student Business of the Year Award.</p>
                        <h3>Career Highlights</h3>
                        <ul>
                            <li>Inc. | "30 Under 30" list</li>
                            <li>Inc. | #66 on the Inc. 500 Fastest-Growing Private Companies in America</li>
                            <li>CNN | "Young People Who Rock"</li>
                            <li>BusinessWeek | "Top 5 Entrepreneurs Under 25" list</li>
                            <li>American Venture Magazine | "40 Under 40" list</li>
                            <li>Boston Business Journal | "40 Under 40" list</li>
                            <li>Entrepreneur Magazine | "Power Player"</li>
                            <li>U.S. Small Business Administration | "MA Young Entrepreneur of the Year"</li>
                            <li>Founding supporter of National Entrepreneurs' Day</li>
                        </ul>
                    </article>
                </li>
                <li>
                    <a href="index.html#dh" class=actuator> <img src="../assets/img/png/about/dh-small.png" />
                        <h1>David Hauser</h1>
                        <h2>Co-founder</h2> <img src="../assets/img/png/about/bio.png" class=bio /> </a>
                    <article class=dh id=dh>
                    <img src="../assets/img/png/about/dh-large.png">
                        <h1>David Hauser</h1>
                        <h2>Co-founder</h2>
                        <p>David Hauser oversees the strategic direction and operations of Grasshopper and serves as the company's
                            technology visionary. A passionate technologist, he's the guy you go to when you have a question
                            about how the universe operates (or if you simply want to consult his encyclopedic inner search
                            engine). As champion of the company's Core Values and work culture, he strives to create an environment
                            that is professionally and personally rewarding for all employees.</p>
                        <p>A technology start-up veteran, David was co-founder of Return Path, an e-mail performance management
                            company. David's strong entrepreneurial spirit has allowed him to serve as a consultant for various
                            companies as well as a mentor to emerging entrepreneurs through his alma mater, Babson College.
                            He has also been a speaker at LessConf, Big Omaha, FOWA, SuperConf, and other events. David was
                            born and raised in New York City. He graduated from Babson College with a Bachelor of Science
                            degree in business.</p>
                        <h3>Career Highlights</h3>
                        <ul>
                            <li>Inc. | "30 Under 30" list</li>
                            <li>Inc. | #66 on the Inc. 500 Fastest-Growing Private Companies in America</li>
                            <li>CNN | "Young People Who Rock"</li>
                            <li>BusinessWeek | "Top 5 Entrepreneurs Under 25" list</li>
                            <li>American Venture Magazine | "40 Under 40" list</li>
                            <li>Boston Business Journal | "40 Under 40" list</li>
                            <li>Entrepreneur Magazine | "Power Player"</li>
                            <li>U.S. Small Business Administration | "MA Young Entrepreneur of the Year"</li>
                            <li>Founding supporter of National Entrepreneurs' Day</li>
                        </ul>
                    </article>
                </li>
            </ol>
        </section>
        {{> footer}}
</body>

</html>