<!doctype html>
<html>

<head>
    
    <meta charset=utf-8>
    <meta content="IE=edge,chrome=1" http-equiv=X-UA-Compatible>
    <meta name=viewport content="width=device-width">
    
    
    <link rel=icon href="../favicon.ico" type="image/x-icon" />
    
    <title>Cash Monkey</title>
    
    <link href="../global-1490894872.css" media=screen rel=stylesheet />
    <link href="../about/about-1490894868.css" media=screen rel=stylesheet />
    
<body class="happy-customers happy-customers_index">
    <header>
        <a id=logo href="/"><img src="" width=139 height=27 alt="Cash Monkey" /></a>
        
        <nav>
            <ol>
                <li><a class="" href="/">Home</a></li>
                <li><a class="" data-km="main_nav" href="/how-it-works">How It Works</a></li>
                <li><a class="active" href="/happy-customers">Happy Customers</a></li>
                <li><a class="signup" data-km="main_nav" href="/signup">Schedule Now</a></li>
            </ol>
        </nav>
    </header>
    <article>
        <section class=main>
            <h1>Over 5,000 Transactions</h1>
            <h2></h2>
        </section>
    {{> footer}}
    </article>
           
        
</body>

</html>