<!doctype html>
<html>

<head>
    <meta charset=utf-8>
    <meta content="IE=edge,chrome=1" http-equiv=X-UA-Compatible>
    <meta name=viewport content="width=device-width">
    <title>Cash Monkey</title>
    <link href="./global-1490894872.css" media=screen rel=stylesheet />
    <link href="./home/video-styles.css" media=screen rel=stylesheet />
    <link href="./home/homepage-1490894873.css" media=screen rel=stylesheet />
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
  <script src="../side_button.js"></script>
</head>


<body class="index" data-gr-c-s-loaded="true">
    <header>
        <a id="logo" href="/">
            <img src="../logo.png" width="55" height="40" alt="Cash Monkey Logo">
        </a>
        <nav>
            <ol>
                <li><a class="active" href="/">Home</a></li>
                <li><a class="" data-km="main_nav" href="/how-it-works">How It Works</a></li>
                <li><a class="" href="/happy-customers/">Happy Customers</a></li>
                <li><a class="signup" data-km="main_nav" href="/signup">Schedule Now </a></li>
            </ol>
        </nav>
    </header>
    {{> side}}
    <article>
        <section class="main">
            <h1>Maximize Your Profitability </h1>
            <h2>Book a Free ATM Installation Service</h2>
            <div class="thrv_wrapper tcb-flex-row tcb-resized tcb--cols--2" style="margin-bottom: 0px !important; margin-top: 0px !important; padding-top: 1px !important;">
                <div class="tcb-flex-col tve_empty_dropzone" data-css="tve-u-15b0be8bd51">
                    <div class="thrv_paste_content thrv_wrapper tve_empty_dropzone" >
                        <p>​</p>
                        <h6 class="tve_p_center" data-web-font="Comic Sans MS, cursive, sans-serif"><span class="tve_custom_font_size" style="font-size: 25px; display: block;"><span class="bold_text"><span class="tve_custom_font_size how_it_works" style="font-size: 24px;">See ﻿﻿﻿How﻿﻿﻿﻿ ﻿﻿﻿﻿﻿It﻿﻿ ﻿﻿﻿Works ﻿﻿﻿﻿<br>in less﻿﻿﻿ ﻿﻿﻿Then&nbsp;﻿﻿﻿﻿2 minut﻿﻿﻿﻿﻿﻿es</span></span>&nbsp;</span>
                            <img src="http://grasshopper.com/assets/img/png/arrows/curved.png" alt="Curved arrow"></h6>
                        <div class="thrv_responsive_video thrv_wrapper rv_style_lifted_style2" data-overlay="0" data-type="vimeo" data-embed_type="inline"
                            data-url="https://vimeo.com/210536175" data-embeded-url="https://player.vimeo.com/video/210536175"
                            data-autoplay="0" data-showinfo="0" data-modestbranding="1" data-rel="0" data-fs="0" style="margin-bottom: 20px !important; margin-top: 0px !important;">
                            <div class="tve_responsive_video_container" style="display: block;">
                                <div class="video_overlay"></div>
                                <iframe src="https://player.vimeo.com/video/210536175?badge=1&amp;title=0&amp;color=ff0000" frameborder="0" allowfullscreen=""
                                    style="display: block;" data-src="https://player.vimeo.com/video/210536175?badge=1&amp;title=0&amp;color=ff0000"></iframe>
                            </div>
                    </div>
                </div>
            </div>
            <div class="tcb-flex-col tve_empty_dropzone empty_dropzone_right" data-css="tve-u-15b0be8bd89">
                <ul class="thrv_wrapper">
                    <li class="tve_empty_dropzone benefits"><span class="bold_text">Increase Sales</span> –
                        Our average ATM dispenses over $250,000 per year. More cash available
                        to customers which increases their spending!</li>
                </ul>
                <ul>
                    <li class="tve_empty_dropzone benefits">
                        <span class="bold_text">Reduce Credit Card Fees –</span><span class="bold_text"></span>
                            ATMs support cash transactions, reducing credit card fees and allowing your business to earn
                                more profit.
                    </li>
                </ul>
                <ul class="thrv_wrapper">
                    <li class="tve_empty_dropzone benefits">
                        <span class="bold_text">You Get Paid –</span> Receive monthly profit share earned from ATM transactions.</p>
                    </li>
                </ul>
                <ul class="thrv_wrapper">
                    <li class="tve_empty_dropzone benefits">
                        <span class="bold_text">Guest Service Offering –</span> Customers appreciate having an alternate
                            form of payment and convenient access to cash.
                    </li>
                </ul>
                <ul class="thrv_wrapper">
                    <li class="tve_empty_dropzone benefits">
                        <span class="bold_text">Customer Retention –</span> With an ATM on site, customers can stay longer
                            and spend more!
                    </li>
                </ul>
            </div>
            </div><a class="cta" href="/signup">Schedule <span class="amp">&amp;</span> Start Earning</a>
        </section>
        <section class="proof">
            <h1>Over 5,000 Transactions</h1>
            <h2>Make Cash Monkey your trusted ATM provider!</h2>
            <p class="trusted-description">As a certified ACFN franchisee, we guarantee that we have the flexibility and resources to keep your ATMs stocked
                and operational at all times. With us, you don’t have to worry about your ATM breaking down at night or running
                out of money to dispense on holidays! Invite us over to your office today, and we will gladly present you
                our ATM placement proposal.<br> We look forward to working with you!</p>
        </section>

        <section class="mobile"> <strong>Install an ATM in Your Establishment</strong></section>
        <section class="features">
            <section> <img src="../more_customers.jpg" alt="" title="" width="150" height="150">
                <h1>Attract More Customers</h1>
                <p class="benefits">ATMs generate new store traffic from walk-by traffic. Customers who know you have an ATM may choose your
                    business over those without one, simply to save themselves an additional trip to access cash.</p>
            </section>
            <section class="border-left">
                <img src="../spend_more_money.jpg" alt="" title="" width="150" height="150">
                <h1>Customers Who Use ATMs Spend More Per Visit.</h1>
                <p class="benefits">Customers that use an ATM spend more money on average. For most establishments, customers will spend 15%
                    more on purchases if they use an ATM inside of a location.</p>
            </section>
            <section class="border-right"> <img src="../never_leave.jpg" alt="" title="" width="150" height="150">
                <h1>Customers Never Have To Leave To Access Funds</h1>
                <p class="benefits">Customers leaving to use nearby ATMs means less time spent in your location, and they may be more likely
                    to cut their visit short. Additionally, the ATM owner down the street is earning commission revenue which
                    you could have been earning.</p>
            </section>
            <section> <img src="../earn.jpg" alt="" title="" width="150" height="150">
                <h1>Earn Revenue With Every Transaction.</h1>
                <p class="benefits">Sure, it may be only a few dollars at a time, but if 100 or so people use your business ATM each week, you’ll
                    end up collecting hundreds of extra dollars weekly. Why not add a no-hassle additional revenue source
                    to your business?</p>
            </section>
        </section>
        <section class="promo-area">
            <section class="slider webinar">
                <div class="gallery">
                    <ul style="width: 2760px;">
                        <li>
                            <a href="signup"><img src="../success.jpg" alt="Webinar"></a>
                            <h1>Interactive ATM Placement Webinars</h1>
                            <span>Cash Monkey in New York, NY regularly holds interactive ATM placement webinars for existing and new business partners. During the online seminars, local representatives of our company will provide relevant information about ATM transaction monitoring and customer engagement, as well as complete instructions on different ATM processes and features. They will also answer queries about the ATM system and services being offered. Sign up for our ATM placement webinars today! Get in touch with us for more information about our webinar registration procedures and requirements.
                                <a href="/signup"><strong>Register</strong> today! »</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        {{> footer}}
</body>

</html>