<!doctype html>
<html>

<head>
    <meta charset=utf-8>
    <meta content="IE=edge,chrome=1" http-equiv=X-UA-Compatible>
    <meta name=viewport content="width=device-width">
    <title>Cash Monkey</title>
    <link href="./global-1490894872.css" media=screen rel=stylesheet />
    <link href="./home/homepage-1490894873.css" media=screen rel=stylesheet />
</head>


<body class="index" data-gr-c-s-loaded="true">
    <header>
        <a id="logo" href="/">
            <!--<img src="" width="139" height="27" alt="Cash Monkey">-->
        </a>
        <nav>
            <ol>
                <li><a class="active" href="/">Home</a></li>
                <li><a class="" data-km="main_nav" href="/how-it-works">How It Works</a></li>
                <li><a class="" href="/happy-customers/">Happy Customers</a></li>
                <li><a class="signup" data-km="main_nav" href="/signup">Pricing <span class="amp">&amp;</span> Sign Up</a></li>
            </ol>
        </nav>
    </header>
    <article>
        <section class="main">
            <h1>Turn the World Into Your Office <sup>®</sup></h1>
            <h2>Grasshopper lets you run your business using your cell phones!</h2>
            <ol>
                <li class="step1">
                    <figure> <img src="/assets/img/png/how-it-works/hiw1.png" alt="How it works and features"> </figure> Pick a number
                    for your business </li>
                <li class="step2">
                    <figure> <img src="/assets/img/png/how-it-works/hiw2.png" alt="How it works and features"> </figure> Record your
                    custom main greeting </li>
                <li class="step3">
                    <figure> <img src="/assets/img/png/how-it-works/hiw3.png" alt="How it works and features"> </figure> Add departments
                    and employees </li>
                <li class="step4">
                    <figure> <img src="/assets/img/png/how-it-works/hiw4.png" alt="How it works and features"> </figure> Get calls,
                    voicemails, and faxes anywhere </li>
            </ol> <a class="cta" href="/signup">Get a Number <span class="amp">&amp;</span> Sign Up</a></section>
        <!--<section class="news">
            <a class="logos" href="/buzz-and-awards/"> <img src="/assets/img/png/news/inc500.png" class="inc500" alt="Inc500" title="Inc500"> <img src="/assets/img/png/news/cnn.png"
                    class="cnn" alt="CNN" title="CNN"> <img src="/assets/img/png/news/fox-biz.png" class="foxbiz" alt="Fox Business"
                    title="Fox Business"> <img src="/assets/img/png/news/forbes.png" class="forbes" alt="Forbes" title="Forbes">                <img src="/assets/img/png/news/wsj.png" class="wsj" alt="Wall Street Journal" title="Wall Street Journal">                <img src="/assets/img/png/news/techcrunch.png" class="techcrunch" alt="TechCrunch" title="TechCrunch"> </a>
        </section>-->
        <section class="proof">
            <h1>Over 500 Transactions</h1>
            <!--<h2>Here's what a few of them have to say about Grasshopper</h2>
            <blockquote> <q>I am now a huge fan of Grasshopper… truly saved the day (and my sanity).</q> <img alt="Carolyn Appleton" title="Carolyn Appleton"
                    src="/assets/img/png/carolyn-appleton.png" width="85" height="85"> <cite>Carolyn Appleton</cite> <small>Carolyn M. Appleton, Inc.</small>                </blockquote>
            <blockquote> <q>Having a phone number on our site increased conversion of site visitors to sign ups and paid users!</q>
                <img
                    alt="Allan Branch" title="Allan Branch" src="/assets/img/png/allan-branch.png" width="85" height="85"> <cite>Allan Branch</cite> <small>LessAccounting</small> </blockquote>-->
        </section>
        <section class="mobile"> <strong>SOME DIFFERENT TEXT</strong></section>
        <section class="features">
            <section> <img src="/assets/img/png/toll-free-numbers.png" alt="Toll free numbers" title="Toll free numbers" width="150"
                    height="106.682">
                <h1><a href="/toll-free-numbers/">Toll Free Numbers</a></h1>
                <p>Great for marketing and a national presence, toll free numbers can make your business sound more professional.</p>
                 </section>
            <section class="no-border">
            <img src="/assets/img/png/800-numbers.png" alt="800 numbers" title="800 numbers" width="150" height="101.915">
                <h1><a href="/800numbers/">800 Numbers</a></h1>
                <p>Although we have 877, 888, 866 and 855 toll free numbers, we also have a limited supply of true 800 numbers.
                    Get yours today before they run out!</p> <a href="/signup" rel="nofollow">Get a premium 800 Number »</a>                </section>
            <section> <img src="/assets/img/png/vanity-numbers.png" alt="Vanity numbers" title="Vanity numbers" width="150" height="109.114">
                <h1><a href="/vanitynumbers/">Vanity Numbers</a></h1>
                <p>Ever wonder how companies like 1-800-flowers get their vanity numbers? Easily—and you can too.</p> <a href="/signup"
                    rel="nofollow">Get a Vanity Number »</a> </section>
            <section class="no-border"> <img src="/assets/img/png/844-numbers.png" alt="844 numbers" title="844 numbers" width="150" height="113.27">
                <h1><a href="/844numbers/">844 Numbers</a></h1>
                <p>The 844 prefix is the newest 800 number prefix on the market. Since it’s new, there’s a ton of vanity number
                    options that weren't previously available. Get your new number before all the best ones are gone!</p>
                <a href="/signup" rel="nofollow">Get your new 844 number »</a> </section>
        </section>
        <section class="promo-area">
            <section class="slider"> <a class="prev">Previous</a> <a class="next">Next</a>
                <div class="gallery">
                    <ul style="width: 2760px;">
                        <li>
                            <a href="/resources/jump-starting-and-growing-your-business/"><img src="/assets/img/jpg/jump-promo.jpg" alt="JUMP: The Ultimate Guide to Starting and Growing Your Business "></a>
                            <strong><a href="/resources/jump-starting-and-growing-your-business/"> Jump: The Ultimate Guide to Growing Your Business</a></strong>                            <span>Based on 10 years of our own experience growing Grasshopper, we bring you a comprehensive guide to getting your own business off the ground! <a href="/resources/jump-starting-and-growing-your-business/"><strong>Jump</strong> today! »</a></span>                            </li>
                        <li>
                            <a href="/academy/"><img src="/assets/img/jpg/academy-promo.jpg" alt="Grasshopper Academy - Learn How to Make Your Business Dreams Reality"></a>
                            <strong><a href="/academy/"> Grasshopper Academy - Learn How to Make Your Business Dreams Reality</a></strong>                            <span>Teach yourself how to take your business to the next level. Whether you're starting your business or growing it, Grasshopper Academy can help you thrive. <a href="/academy/">Get started today! »</a></span>                            </li>
                        <li>
                            <a href="/resources/books-every-entrepreneur-should-read/"><img src="/assets/img/jpg/bookdb-promo.jpg" alt="Books Every Entrepreneur Should Read"></a> <strong><a href="/resources/books-every-entrepreneur-should-read/"> Books Every Entrepreneur Should Read</a></strong>                            <span>Looking for a book to help you along your entrepreneurial journey? We've got some top picks in many categories and our own recommended reads! <a href="/resources/books-every-entrepreneur-should-read/">Start reading today! »</a></span>                            </li>
                    </ul>
                </div>
                <ul id="indicator">
                    <li class="active" id="slide-one">Slide one</li>
                    <li id="slide-two">Slide two</li>
                    <li id="slide-three">Slide three</li>
                </ul>
            </section>
        </section>
        {{> footer}}
</body>
</html>

