<!doctype html>
<html>

<head>

    <meta charset=utf-8>
    <meta content="IE=edge,chrome=1" http-equiv=X-UA-Compatible>
    <meta name=viewport content="width=device-width">

    <title>Cash Monkey</title>

    <link href="../global-1490894872.css" media=screen rel=stylesheet />
    <link href="./how-it-works-and-features-1490894872.css" media=screen rel=stylesheet />
</head>

<body class="how-it-works-and-features how-it-works-and-features_index">
    <header>
        <a id=logo href="/how-it-works"><img src="" width=139 height=27 alt="Cash Monkey" /></a>
        <nav>
            <ol>
                <li><a class="" href="../index.html">Home</a></li>
                <li><a class=active data-km=main_nav href="index.html">How It Works <span class=amp>&amp;</span> Features</a></li>
                <li><a class="" href="../happy-customers/index.html">Happy Customers</a></li>
                <li><a class=signup data-km=main_nav href="http://grasshopper.com/signup">Pricing <span class=amp>&amp;</span> Sign Up</a></li>
            </ol>
        </nav>
    </header>
    <article>
        <section class=main>
            <h1>The #1 Choice of Top Entrepreneurs</h1>
            <h2>Sound more professional <span class=amp>&amp;</span> stay connected with Grasshopper</h2>
            <ol>
                <li class=step1>
                    <figure> <img src="../assets/img/png/how-it-works/hiw1.png" alt="How it works and features" /> </figure> Pick
                    a number for your business </li>
                <li class=step2>
                    <figure> <img src="../assets/img/png/how-it-works/hiw2.png" alt="How it works and features" /> </figure> Record
                    your custom main greeting </li>
                <li class=step3>
                    <figure> <img src="../assets/img/png/how-it-works/hiw3.png" alt="How it works and features" /> </figure> Add departments
                    and employees </li>
                <li class=step4>
                    <figure> <img src="../assets/img/png/how-it-works/hiw4.png" alt="How it works and features" /> </figure> Get calls,
                    voicemails, and faxes anywhere </li>
            </ol>
            <a href="index.html#" id=scrolltofeatures> <strong>Features include:</strong> Toll free <span class=amp>&amp;</span> local numbers, custom main greeting,
                extensions, voicemail to email, and more&hellip; </a>
        </section>
        <section class=news>
            <a class=logos href="../buzz-and-awards/index.html"> <img src="../assets/img/png/news/inc500.png" class=inc500 alt=Inc500 title=Inc500 /> <img src="../assets/img/png/news/cnn.png"
                    class=cnn alt=CNN title=CNN /> <img src="../assets/img/png/news/fox-biz.png" class=foxbiz alt="Fox Business"
                    title="Fox Business" /> <img src="../assets/img/png/news/forbes.png" class=forbes alt=Forbes title=Forbes
                /> </a> <a class=button href="http://grasshopper.com/signup"><strong><em>30 Day</em>Money Back Guarantee</strong></a>            <a class=cta href="http://grasshopper.com/signup">Get a Number <span class=amp>&amp;</span> Sign Up &#187;</a>            </section>
        <section class=video>
            <h1>See How It Works <img src="../assets/img/png/arrows/curved.png" alt="Curved arrow" /></h1>
            <div>
                <iframe width=700 height=393 src="http://www.youtube.com/embed/O1VkAyZdq98?rel=0&amp;showinfo=0&amp;autohide=1&amp;border=0&amp;wmode=transparent"
                    frameborder=0 allowfullscreen></iframe>
            </div> <img src="../assets/img/png/arrows/straight.png" alt="Straight arrow" /> </section>
        <section class=quiz>
            <section class="question start active">
                <p> <strong>Curious about our packages and which one is right for you?</strong> Here's a quick quiz to help you
                    decide. </p> <a href="index.html#" class="cta start-quiz">Start the Quiz &#187;</a> </section>
            <section class="question team">
                <h1>How many team members do you have?</h1>
                <h2>Include anyone who’d be using your phone system.</h2>
                <div class=slide>
                    <div class=progress>
                        <div class=progress-bar></div>
                    </div> <input id=single-team type=radio value=1> <label for=single-team><span></span>1</label> <input id=small-team
                        type=radio value=2-10 /> <label for=small-team><span></span>2-10</label> <input id=medium-team type=radio
                        value=11-20 /> <label for=medium-team><span></span>11-20</label> <input id=large-team type=radio value="21+"
                    /> <label for=large-team><span></span>21+</label> </div>
            </section>
            <section class="question call">
                <h1>How often do you get business calls?</h1>
                <h2>If you’re not sure, take your best guess.</h2>
                <div class=slide>
                    <div class=progress>
                        <div class=progress-bar></div>
                    </div> <input id=almost-never type=radio value=almost-never> <label for=almost-never><span></span>Almost Never</label>                    <input id=weekly type=radio value=few-times-week /> <label for=weekly><span></span>A few times a week</label>                    <input id=daily type=radio value=regularly /> <label for=daily><span></span>Reguarly - every day</label>                    <input id=non-stop type=radio value=off-the-hook /> <label for=non-stop><span></span>Phone's ringing off the hook</label>                    </div>
            </section>
            <section class="question phone">
                <h1>How will you primarily use your phone system?</h1>
                <h2>Pick the one that fits your business best.</h2>
                <ul>
                    <li> <input type=radio id=private value=number-private /> <label for=private>To keep my cell phone number private</label>                        </li>
                    <li class=even> <input type=radio id=customer-service value=customer-service> <label for=customer-service>To provide customer service</label>                        </li>
                    <li> <input type=radio id=team value=distributed-team> <label for=team>To keep in touch with my dedicated team</label>                        </li>
                    <li class=even> <input type=radio id=stay-connected value=stay-connected> <label for=stay-connected>To stay connected when I’m not in the office</label>                        </li>
                    <li> <input type=radio id=sales value=sales-calls> <label for=sales>To make sales calls</label> </li>
                    <li class=even>
                        <input type=radio id=something-else value=something-else> <label for=something-else>Something else</label>                        </li>
                </ul>
            </section>
            <section class="question budget">
                <h1 class=solo-header>What's your budget?</h1>
                <div class=slide>
                    <div class=progress>
                        <div class=progress-bar></div>
                    </div> <input id=budget-1 value="$0-20" type=radio /> <label for=budget-1><span></span>$0-20</label> <input
                        id=budget-2 value="$21-40" type=radio /> <label for=budget-2><span></span>$21-40</label> <input id=budget-3
                        value="$41-60" type=radio /> <label for=budget-3><span></span>$41-60</label> <input id=budget-4 value="$61+"
                        type=radio /> <label for=budget-4><span></span>$61+</label> </div>
            </section>
            <section class="question support">
                <h1 class=solo-header>Do you offer telephone support to customers?</h1>
                <ul>
                    <li> <input id=yes type=radio value=yes> <label for=yes>Yes</label> </li>
                    <li> <input id=no type=radio value=no> <label for=no>No</label> </li>
                </ul>
            </section>
            <section class="question features">
                <h1>Which additional features would you be interested in?</h1>
                <h2>Pick any features that your business needs</h2>
                <ul>
                    <li> <input type=checkbox id=vanity data-anwser="A Vanity Number" value=1 data-info="to help potential customers remember your phone number"
                        /> <label for=vanity>A memorable vanity number for branding <em>e.g. 1-800-FLOWERS</em></label> </li>
                    <li class=even> <input type=checkbox id=800 data-anwser="A True 800 Number" value=2 data-info="to make your business look more professional"
                        /> <label for=800>A professional 800 number <em>Starts with 1-800...</em></label> </li>
                    <li class=even>
                        <input type=checkbox id=custom data-anwser="Voice Studio" value=3 data-info="to make your custom greetings sound ultra professional"
                        /> <label for=custom>Professional, custom greetings <em>Recorded just for you!</em></label>                        </li>
                    <li>
                        <input type=checkbox id=call-handling data-anwser="Call Blasting " value=4 data-info="to ensure calls get answered as quickly as possible"
                        /> <label for=call-handling>Have calls sent to everyone at once <em>So they get answered in record time</em></label>                        </li>
                    <li class=even> <input type=checkbox id=number-porting data-anwser="Keep Your Existing Number" value=5 data-info="to bring your current business number to Grasshopper"
                        /> <label for=number-porting>Keep your existing phone number <em>So the change is seamless for your customers</em></label>                        </li>
                    <li class=even> <input type=checkbox id=set-up data-anwser="Business SMS" value=6 data-info="to send professional text messages with your business number"
                        /> <label for=set-up>Send business SMS messages <em>Send and receive texts from your business number</em></label>                        </li>
                </ul>
            </section>
            <section class="question features-b">
                <h1>Which additional features would you be interested in?</h1>
                <h2>Pick any features that your business needs</h2>
                <ul>
                    <li> <input type=checkbox id=mailboxes data-anwser="Additional Voice Mailboxes" value=1 data-info="to keep messages organized"
                        /> <label for=mailboxes>Additional voice mailboxes <em>To keep messages separate and organized</em></label>                        </li>
                    <li class=even> <input type=checkbox id=multiple-numbers data-anwser="Additional Phone Numbers" value=2 data-info="for tracking marketing initiatives"
                        /> <label for=multiple-numbers>More than one number <em>Get multiple phone numbers to track marketing efforts</em></label>                        </li>
                    <li class=even> <input type=checkbox id=mp3 data-anwser="Voicemail to Email" value=3 data-info="to access your voicemails when you’re away from a phone"
                        /> <label for=mp3>Voicemails sent to your email as MP3 files <em>Voicemails are converted and send to your email</em></label>                        </li>
                    <li> <input type=checkbox id=voicemail-transcription data-anwser="Read Your Voicemail" value=4 data-info="to access your voicemails anywhere, anytime."
                        /> <label for=voicemail-transcription>Voicemails transcribed and emailed to you <em>Stay in touch when you can’t get to a phone</em></label>                        </li>
                    <li class=even> <input type=checkbox id=background-music data-anwser="Background Music" value=5 data-info="to entertain customers while they go through your system"
                        /> <label for=background-music>Background Music <em>Keep customers entertained while they go through your system</em></label>                        </li>
                    <li class=even> <input type=checkbox id=concierge data-anwser="VIP Concierge Set-Up Service" value=6 data-info="so your system set-up is hassle-free and perfect"
                        /> <label for=concierge>VIP concierge set-up service <em>We’ll work with you to set up your whole system</em></label>                        </li>
                </ul>
            </section>
            <section class="question results" id=secondary>
                <h1>Based on your budget and estimated usage&hellip;</h1>
                <section class=plan id=payg>
                    <div> Our <em>PAY AS YOU GROW</em> plan is the best option for you! <small>One toll free or local number and pay-as-you-go minutes</small>                        </div> <a href="http://grasshopper.com/signup" class=cta>Sign me up!</a> </section>
                <section class=plan id=ramp>
                    <div> Our <em>RAMP</em> plan is the best option for you! <small>One toll free or local number and 500 minutes</small>                        </div> <a href="http://grasshopper.com/signup" class=cta>Sign me up!</a> </section>
                <section class=plan id=grow>
                    <div> Our <em>GROW</em> plan is the best option for you! <small>Two toll free or local numbers and 2,000 minutes</small>                        </div> <a href="http://grasshopper.com/signup" class=cta>Sign me up!</a> </section>
                <section class=plan id=max>
                    <div> Our <em>MAX</em> plan is the best option for you! <small>Three toll free or local numbers and 10,000 minutes</small>                        </div> <a href="http://grasshopper.com/signup" class=cta>Sign me up!</a> </section>
                <h2>During signup, you might want to add...</h2>
                <ul id=featureInfo></ul>
            </section>
            <ul class=navigation>
                <li id=previous></li>
                <li id=next></li>
            </ul>
        </section>
        <section class="feature name-directory">
            <article>
                <h1>&ldquo;Press 1 for Sales, 2 for Support, 8 for the Name Directory&rdquo;</h1>
                <p>Create &amp; customize extensions to forward calls anywhere: home, office or cell. Instantly create 1 digit
                    department extensions and 3 digit employee extensions.</p>
            </article> <img src="../assets/img/png/how-it-works/car.png" alt=Car class=car /> </section>
        <section class="feature fotoguy">
            <article>
                <h1>Get a Toll Free or Local Number with Multiple Extensions</h1>
                <p>For both a local and national presence, you can have both toll free and local numbers for your business.
                    Add department &amp; employee extensions easily for every member of your team.</p> <a href="http://grasshopper.com/signup">Find a perfect number for your business &#187;</a>                </article> <img src="../assets/img/png/how-it-works/fotoguy.png" alt=Fotoguy /> </section>
        <section class="feature flwrgrl">
            <article>
                <h1>Make Calls Showing Your Grasshopper Caller ID</h1>
                <p>We love this feature! When you want to call a client, use the Grasshopper mobile app to make calls showing
                    your Grasshopper caller ID (instead of your iPhone's). Callers will never know you're calling from your
                    mobile phone.</p>
            </article> <img src="../assets/img/png/how-it-works/flwrgrl.png" alt="Flower girl" /> </section>
        <section class=feature>
            <article>
                <h1>No Expensive Hardware to Purchase or Install</h1>
                <p>Grasshopper works with your existing mobile and home/office phones so you never have to purchase, install,
                    or maintain expensive phone hardware. It's all virtual.</p>
            </article> <img src="../assets/img/png/how-it-works/hardware.png" alt=Hardware class=hardware /> </section>
        <section class="feature small callscreening">
            <h1>But Wait There's More!</h1>
            <article>
                <h1>Know Who’s Calling Before Accepting the Call</h1>
                <p>When you get a call, press 1 to accept the call, 2 to put them into voicemail, or 3 to hear the caller's
                    phone number. The choice is yours!</p>
            </article> <img src="../assets/img/png/how-it-works/yourbiz.png" alt=Yourbiz /> </section>
        <section class="feature small">
            <article>
                <h1>Get Voicemails and Faxes Delivered via Email</h1>
                <p>No more calling in to check messages: just open the MP3 or PDF attachment while checking emails. It's as
                    easy as that!</p>
            </article> <img src="../assets/img/png/how-it-works/voicemails.png" alt=Voicemails class=voicemails /> </section>
        <section class="feature small ryvm">
            <article>
                <h1>Read Your Voicemails</h1>
                <p>With the Read Your Voicemail feature, a transcription of each voicemail is included with email notifications
                    so you can quickly know the purpose of the voicemail. You can even choose to have voicemails transcribed
                    by a human on-demand.</p>
            </article> <img src="../assets/img/png/how-it-works/ryvm.png" alt="Read voicemail" /> </section>
        <section class="feature small voicestudio">
            <article>
                <h1>Record Greetings Yourself or Use our Voice Studio</h1>
                <p>The most professional businesses use our voice studio to record their greetings. You can even upload or record
                    your own greetings as easily as you do your mobile phone voicemail greeting.</p>
            </article>
            <img src="../assets/img/png/how-it-works/voicestudio.png" alt="Record voicemail" /> </section>
        <section class="feature small ryvm">
            <article>
                <h1>Send Professional Text Messages</h1>
                <p>With our Business SMS feature, send professional text messages to partners &amp; colleagues. Collaborate
                    on-the-go without clogging up your email inbox. Even offer text support to your customers!</p>
            </article>
            <img src="../assets/img/png/how-it-works/professional-text.png" alt="Professional Text Message" /> </section>
        <section class=amazing-features name=scrollto>
            <h1>Tons of Amazing Features</h1>
            <nav class=feature-list> <a href="index.html" class=more-features>See More Great Features &#187;</a>
                <section>
                    <h1>Any Phone Number</h1>
                    <ol>
                        <li class=active> <a href="../features/toll-free-numbers/index.html">Toll Free Numbers</a> </li>
                        <li> <a href="../features/local-numbers/index.html">Local Numbers</a> </li>
                        <li> <a href="../features/number-portability/index.html">Keep Your Existing Number</a> </li>
                    </ol>
                </section>
                <section>
                    <h1>Sound Professional</h1>
                    <ol>
                        <li> <a href="../features/custom-main-greeting/index.html">Custom Main Greeting</a> </li>
                        <li> <a href="../features/unlimited-extensions/index.html">Unlimited Extensions</a> </li>
                        <li> <a href="../features/on-hold-music/index.html">Music On Hold</a> </li>
                        <li> <a href="../features/name-directory/index.html">Name Directory</a> </li>
                        <li> <a href="../features/unlimited-call-handling/index.html">Unlimited Call Handling</a> </li>
                        <li>
                            <a href="../features/conference-calling/index.html">Conference Calling</a> </li>
                        <li> <a href="../features/voice-studio/index.html">Voice Studio</a> </li>
                    </ol>
                </section>
                <section>
                    <h1>Stay Connected</h1>
                    <ol>
                        <li> <a href="../features/call-forwarding/index.html">Call Forwarding</a> </li>
                        <li> <a href="../features/call-screening-and-announce/index.html">Call Screening</a> </li>
                        <li> <a href="../features/voicemail-and-fax-delivery/index.html">Voicemail <span class=amp>&amp;</span> Fax to Email</a>                            </li>
                    </ol>
                </section>
                <section>
                    <h1>And More</h1>
                    <ol>
                        <li> <a href="../features/business-sms/index.html">Business SMS</a> </li>
                        <li> <a href="../features/read-your-voicemail/index.html">Read Your Voicemail</a> </li>
                        <li> <a href="../features/informational-extensions/index.html">Store Hours / Directions</a> </li>
                        <li> <a href="../features/call-routing-extensions/index.html">Call Routing Extensions</a> </li>
                        <li>
                            <a href="../features/fax-on-demand/index.html">Fax on Demand</a> </li>
                    </ol>
                </section>
            </nav>
            <article class=feature-description>
                <section class=business-sms>
                    <h1>Business SMS</h1>
                    <p>Stay connected and communicate efficiently with Grasshopper’s Business SMS feature for just $10 a month
                        per number. You’ll get unlimited texts included at no extra charge. Business SMS lets you send professional
                        business text messages right from the Grasshopper app, so you’re always connected.</p>
                    <img src="../assets/img/png/how-it-works/business-sms.png" alt="Business SMS" /> </section>
                <section class=toll-free-numbers>
                    <h1>Toll Free Numbers</h1>
                    <ul>
                        <li>Get toll free numbers instantly</li>
                        <li>Get customized vanity numbers</li>
                        <li>Search 800, 888, 877, 866 <span class=amp>&amp;</span> 855 numbers</li>
                    </ul>
                    <p class=full>A toll free number can be an indispensable asset to your business. They're most often used for customer
                        service or help lines as one of the biggest benefits is they allow customers to call your business
                        without being charged for the call. However, there are a lot of other great benefits to having one
                        for your business.</p> <img src="../assets/img/png/how-it-works/toll-free.png" alt="Toll free" />                    </section>
                <section class=local-numbers>
                    <h1>Local Numbers</h1>
                    <p>With Grasshopper, your small business can get a local number from anywhere in the U.S. Local numbers
                        are a great way to give your company a community feel or with multiple numbers, a multi-city look.
                        If you already have an existing local number with another provider, you can easily port it to Grasshopper.</p>
                    <img src="../assets/img/png/how-it-works/local-numbers.png" alt="Local numbers" /> </section>
                <section class=number-portability>
                    <h1>Number Portability</h1>
                    <p>Easily port your existing toll free or local number to Grasshopper. By porting your existing number you
                        get all the features and benefits of Grasshopper, without having to change any of your advertising
                        or the number your customers use to call you. Grasshopper enables your calls to be forwarded anywhere
                        on any phone - home, office or on the road.</p> <img src="../assets/img/png/how-it-works/keep-your-existing-number.png"
                        alt="Number Portability" /> </section>
                <section class=custom-main-greeting>
                    <h1>Custom Main Greeting</h1>
                    <p>“Thank you for calling ABC Company… for sales, press 1…” The main greeting is the first thing a caller
                        hears when calling your Grasshopper number. Welcome callers and direct them to departments, employees
                        and information. Completely customizable, your main greeting will make your small business sound
                        like a big company.</p>
                    <img src="../assets/img/png/how-it-works/custom-main-greeting.png" alt="Custom Main Greeting" /> </section>
                <section class=unlimited-extensions>
                    <h1>Unlimited Extensions</h1>
                    <p>Each extension has its own call forwarding, voicemail and message delivery settings, allowing every employee
                        to customize their extension. Whether you have one employee or five, unlimited extensions help your
                        small business sound professional.</p> <img src="../assets/img/png/how-it-works/unlimited-extensions.png"
                        alt="Unlimited Extensions" /> </section>
                <section class=on-hold-music>
                    <h1>Music On Hold</h1>
                    <p>On Hold Music from Grasshopper is a great way to keep your callers happy and engaged while on hold. You
                        can choose from several available music selections or upload your own custom music and on hold commercials
                        right online.</p> <img src="../assets/img/png/how-it-works/music-on-hold.png" alt="Music On Hold"
                    /> </section>
                <section class=name-directory>
                    <h1>Name Directory</h1>
                    <p>A Name Directory is a feature commonly found in large company phone systems. Available from Grasshopper,
                        this feature can lend your small business a Fortune 500 image and provide added convenience for you
                        and your callers. Simply enter your employee names online, and callers can search for them by first
                        or last name.
                    </p> <img src="../assets/img/png/how-it-works/name-directory.png" alt="Name Directory" /> </section>
                <section class=unlimited-call-handling>
                    <h1>Unlimited Call Handling</h1>
                    <p>Grasshopper provides unlimited call handling with your virtual phone system. Take calls from multiple
                        callers all at once even during instances of high call volume. Grasshopper keeps your lines open
                        so callers never hear a busy signal.</p> <img src="../assets/img/png/how-it-works/unlimited-call-handling.png"
                        alt="Unlimited Call Handling" /> </section>
                <section class=conference-calling>
                    <h1>Conference Calling</h1>
                    <p>Connect with up to 10 participants on conference calls! Once you (the host) starts a conference call,
                        you can simply add participants to the call by dialing their numbers. No conference number needed!
                        Each participant contributes to your minute count separately.</p> <img src="../assets/img/png/how-it-works/conference-calling.png"
                        alt="Conference Calling" /> </section>
                <section class=voice-studio>
                    <h1>Voice Studio</h1>
                    <p>Sounding professional is easy when you have your greetings and prompts recorded using voice studio from
                        Grasshopper. With several professional voice talents available you can find the right sound to suit
                        any small business. We can even record in different languages and produce top quality on hold commercials
                        on request.</p>
                    <img src="../assets/img/png/how-it-works/voice-studio.png" alt="Voice Studio" /> </section>
                <section class=call-forwarding>
                    <h1>Call Forwarding</h1>
                    <p>A virtual phone system from Grasshopper is designed to help you and your employees stay connected from
                        the road, at home or anywhere you go. With Call Forwarding, you and your employees can be reached
                        on virtually any telephone in the world whether on your cell, in the office, or at home. Worldwide
                        call forwarding from Grasshopper keeps you connected so you have the freedom to work from anywhere.</p>
                    <img src="../assets/img/png/how-it-works/call-forwarding.png" alt="Call Forwarding" /> </section>
                <section class=call-screening-and-announce>
                    <h1>Call Screening &amp; Announce</h1>
                    <p>Stay connected with Call Screening and Announce. When you answer a Grasshopper call, you'll have 3 options
                        to choose from. 1. answer the call, 2. send the caller to voicemail or 3. hear the caller’s phone
                        number. You can even choose to hear the caller’s name before deciding. Callers remain on hold, with
                        music, while you decide what to do with the call.</p> <img src="../assets/img/png/how-it-works/call-screening.png"
                        alt="Call Screening &amp; Announce" /> </section>
                <section class=voicemail-and-fax-delivery>
                    <h1>Voicemail &amp; Fax Delivery</h1>
                    <p>Stay connected even when you can’t take a call. Grasshopper can deliver messages to multiple email addresses
                        and mobile devices. Voicemails are converted to WAV or MP3 audio files and sent via email or multimedia
                        messages. You can even have faxes delivered as PDF attachments so you can listen to your voicemails
                        and view faxes no matter where you are.</p> <img src="../assets/img/png/how-it-works/voicemail-and-fax-delivery.png"
                        alt="Voicemail &amp; Fax Delivery" /> </section>
                <section class=read-your-voicemail>
                    <h1>Read Your Voicemail</h1>
                    <p>Grasshopper lets you stay connected even when you can’t check your voicemail with our Read Your Voicemail
                        feature for just $10 a month with the option for human transcription included at no extra cost. With
                        the voicemail transcription emailed to you as readable text, you’ll be able to stay connected when
                        you can’t listen to the MP3 file of your voicemail.</p> <img src="../assets/img/png/how-it-works/read-your-voicemail.png"
                        alt="Read Your Voicemail" /> </section>
                <section class=informational-extensions>
                    <h1>Informational Extensions</h1>
                    <p>Allow callers to access important information 24/7 using Informational Extensions loaded with everything
                        they need to know. It’s a great place for customers to hear store directions, product descriptions,
                        or your hours of operation. Informational Extensions from Grasshopper allow callers to get the critical
                        information they need, instantly.</p> <img src="../assets/img/png/how-it-works/informational-extensions.png"
                        alt="Informational Extensions" /> </section>
                <section class=call-routing-extensions>
                    <h1>Call Routing Extensions</h1>
                    <p>Call Routing Extensions from Grasshopper provide customizable extensions to fit your unique calling needs.
                        With Holding Extensions (also know as ACD, or automatic call distribution queues) multiple callers
                        can be on hold simultaneously before automatically being connected to the next available employee.
                        Calls can also be routed using rotational extensions so that each employee receives an even share
                        of calls each day. This is a great way to run a sales office to ensure everyone has an equal chance
                        of taking calls.
                    </p> <img src="../assets/img/png/how-it-works/call-routing-extensions.png" alt="Call Routing Extensions"
                    /> </section>
                <section class=fax-on-demand>
                    <h1>Fax on Demand</h1>
                    <p>Your callers can help themselves to forms and printed information using our Fax on Demand feature. You
                        simply fax documents into your account, creating a library of documents that callers can request
                        via fax instantly, any time of day. Ideal for order forms, product sheets, maps or anything else
                        you want your callers to access on-demand 24 hours a day.</p> <img src="../assets/img/png/how-it-works/fax-on-demand.png"
                        alt="Fax on Demand" /> </section>
                <blockquote> <q>Having a phone number on our site increased conversion of site visitors to sign ups and paid users!</q>                    <img alt="Allan Branch" title="Allan Branch" src="../assets/img/png/allan-branch.png" width=48 height=48
                    /> <cite><em>Allan Branch</em>LessAccounting</cite> </blockquote>
                <blockquote class=right> <q>I am now a huge fan of Grasshopper… truly saved the day (and my sanity).</q> <img alt="Carolyn Appleton"
                        title="Carolyn Appleton" src="../assets/img/png/carolyn-appleton.png" width=48 height=48 /> <cite><em>Carolyn Appleton</em>Carolyn M. Appleton, Inc.</cite>                    </blockquote>
            </article>
        </section>
        <section class=news>
            <a class=logos href="../buzz-and-awards/index.html"> <img src="../assets/img/png/news/inc500.png" class=inc500 alt=Inc500 title=Inc500 /> <img src="../assets/img/png/news/cnn.png"
                    class=cnn alt=CNN title=CNN /> <img src="../assets/img/png/news/fox-biz.png" class=foxbiz alt="Fox Business"
                    title="Fox Business" /> <img src="../assets/img/png/news/forbes.png" class=forbes alt=Forbes title=Forbes
                /> </a> <a class=button href="http://grasshopper.com/signup"><strong><em>30 Day</em>Money Back Guarantee</strong></a>            <a class=cta href="http://grasshopper.com/signup">Get a Number <span class=amp>&amp;</span> Sign Up &#187;</a>            </section>
        {{> footer}}
</body>

</html>