<!doctype html>
<html>

<head>

    <meta charset=utf-8>
    <meta content="IE=edge,chrome=1" http-equiv=X-UA-Compatible>
    <meta name=viewport content="width=device-width">

    <title>Cash Monkey</title>

    <link href="../global-1490894872.css" media=screen rel=stylesheet />
    <link href="./how-it-works-and-features-1490894872.css" media=screen rel=stylesheet />
</head>

<body class="how-it-works-and-features how-it-works-and-features_index">
    <header>
        <a id=logo href="/how-it-works"><img src="" width=139 height=27 alt="Cash Monkey" /></a>
        <nav>
             <ol>
                <li><a class="" href="/">Home</a></li>
                <li><a class="active" data-km=main_nav href="/how-it-works">How It Works</a></li>
                <li><a class="" href="/happy-customers">Happy Customers</a></li>
                <li><a class="signup" data-km=main_nav href="/pricing">Schedule Now</a></li>
            </ol>
        </nav>
    </header>
    <article>
        <section class=main>
            <h1>Driving Your Business to Success</h1>
            <h2>ATM Company Offering Gainful Business Partnership</h2>
            <ol>
                <li class=step1>
                    <figure> <img src="" alt="How it works and features" /> </figure> Schedule a Consultation </li>
                <li class=step2>
                    <figure> <img src="" alt="How it works and features" /> </figure> No Hassle ATM Insallation</li>
                <li class=step3>
                    <figure> <img src="" alt="How it works and features" /> </figure> Increase Sales and Customer Retention</li>
                <li class=step4>
                    <figure> <img src="" alt="How it works and features" /></figure> Sit Back and Make More Money</li>
            </ol>
        </section>
        <section class="feature name-directory">
            <article>
                <h1>Personal Service</h1>
                <p> Our ATM company is home to local representatives and professionals who reside and participate within your community. This gives your business the added benefit of having a representative within the proximity who monitors your ATM and is readily available to provide emergency services.</p>
            </article> <img src="../assets/img/png/how-it-works/car.png" alt=Car class=car /> </section>
        <section class="feature fotoguy">
            <article>
                <h1>No Investment and Insurance Coverage</h1>
                <p>No investment both in time and money needed! Our ATM placement program is completely free, and you get paid on each transaction. Full coverage and documentation of insurance are provided by ACFN.</p>  </article> <img src="../assets/img/png/how-it-works/fotoguy.png" alt=Fotoguy /> </section>
        <section class="feature flwrgrl">
            <article>
                <h1>6-Month Trial Period</h1>
                <p>We install the equipment on a 6-month trial basis without any obligation. Try it out!</p>
            </article> <img src="../assets/img/png/how-it-works/flwrgrl.png" alt="Flower girl" /> </section>
        <section class="feature">
            <article>
                <h1>Best in Class Equipment and Maintenance</h1>
                <p>Top-of-the-line ATM equipment will be installed in your place of business for free. Your ATM will be monitored 24 hours a day, 365 days a year to ensure continuous service.</p>
            </article> <img src="../assets/img/png/how-it-works/hardware.png" alt=Hardware class=hardware /> </section>
     
       
        {{> footer}}
</body>

</html>