<!doctype html>
<html>

<head>

    <meta charset=utf-8>
    <meta content="IE=edge,chrome=1" http-equiv=X-UA-Compatible>
    <meta name=viewport content="width=device-width">

    <title>Cash Monkey</title>

    <link href="../global-1490894872.css" media=screen rel=stylesheet />
    <link href="./how-it-works-and-features-1490894872.css" media=screen rel=stylesheet />
</head>

<body class="how-it-works-and-features how-it-works-and-features_index">
    <header>
        <a id=logo href="/how-it-works"><img src="" width=139 height=27 alt="Cash Monkey" /></a>
        <nav>
            <ol>
                <li><a class="" href="../index.html">Home</a></li>
                <li><a class=active data-km=main_nav href="index.html">How It Works</a></li>
                <li><a class="" href="../happy-customers/index.html">Happy Customers</a></li>
                <li><a class=signup data-km=main_nav href="http://grasshopper.com/signup">Pricing <span class=amp>&amp;</span> Sign Up</a></li>
            </ol>
        </nav>
    </header>
    <article>
        <section class=main>
            <h1>Driving Your Business to Success</h1>
            <h2>ATM Company Offering Gainful Business Partnership</h2>
            <ol>
                <li class=step1>
                    <figure> <img src="" alt="How it works and features" /> </figure> Schedule a Consultation </li>
                <li class=step2>
                    <figure> <img src="" alt="How it works and features" /> </figure> No Hassle ATM Insallation</li>
                <li class=step3>
                    <figure> <img src="" alt="How it works and features" /> </figure> Increase Sales and Customer Retention</li>
                <li class=step4>
                    <figure> <img src="" alt="How it works and features" /></figure> Sit Back and Make More Money</li>
            </ol>
        </section>
        <section class="feature name-directory">
            <article>
                <h1>&ldquo;Press 1 for Sales, 2 for Support, 8 for the Name Directory&rdquo;</h1>
                <p>Create &amp; customize extensions to forward calls anywhere: home, office or cell. Instantly create 1 digit
                    department extensions and 3 digit employee extensions.</p>
            </article> <img src="../assets/img/png/how-it-works/car.png" alt=Car class=car /> </section>
        <section class="feature fotoguy">
            <article>
                <h1>Get a Toll Free or Local Number with Multiple Extensions</h1>
                <p>For both a local and national presence, you can have both toll free and local numbers for your business.
                    Add department &amp; employee extensions easily for every member of your team.</p> <a href="http://grasshopper.com/signup">Find a perfect number for your business &#187;</a>                </article> <img src="../assets/img/png/how-it-works/fotoguy.png" alt=Fotoguy /> </section>
        <section class="feature flwrgrl">
            <article>
                <h1>Make Calls Showing Your Grasshopper Caller ID</h1>
                <p>We love this feature! When you want to call a client, use the Grasshopper mobile app to make calls showing
                    your Grasshopper caller ID (instead of your iPhone's). Callers will never know you're calling from your
                    mobile phone.</p>
            </article> <img src="../assets/img/png/how-it-works/flwrgrl.png" alt="Flower girl" /> </section>
        <section class=feature>
            <article>
                <h1>No Expensive Hardware to Purchase or Install</h1>
                <p>Grasshopper works with your existing mobile and home/office phones so you never have to purchase, install,
                    or maintain expensive phone hardware. It's all virtual.</p>
            </article> <img src="../assets/img/png/how-it-works/hardware.png" alt=Hardware class=hardware /> </section>
        <section class="feature small callscreening">
            <h1>But Wait There's More!</h1>
            <article>
                <h1>Know Who’s Calling Before Accepting the Call</h1>
                <p>When you get a call, press 1 to accept the call, 2 to put them into voicemail, or 3 to hear the caller's
                    phone number. The choice is yours!</p>
            </article> <img src="../assets/img/png/how-it-works/yourbiz.png" alt=Yourbiz /> </section>
        <section class="feature small">
            <article>
                <h1>Get Voicemails and Faxes Delivered via Email</h1>
                <p>No more calling in to check messages: just open the MP3 or PDF attachment while checking emails. It's as
                    easy as that!</p>
            </article> <img src="../assets/img/png/how-it-works/voicemails.png" alt=Voicemails class=voicemails /> </section>
        <section class="feature small ryvm">
            <article>
                <h1>Read Your Voicemails</h1>
                <p>With the Read Your Voicemail feature, a transcription of each voicemail is included with email notifications
                    so you can quickly know the purpose of the voicemail. You can even choose to have voicemails transcribed
                    by a human on-demand.</p>
            </article> <img src="../assets/img/png/how-it-works/ryvm.png" alt="Read voicemail" /> </section>
        <section class="feature small voicestudio">
            <article>
                <h1>Record Greetings Yourself or Use our Voice Studio</h1>
                <p>The most professional businesses use our voice studio to record their greetings. You can even upload or record
                    your own greetings as easily as you do your mobile phone voicemail greeting.</p>
            </article>
            <img src="../assets/img/png/how-it-works/voicestudio.png" alt="Record voicemail" /> </section>
        <section class="feature small ryvm">
            <article>
                <h1>Send Professional Text Messages</h1>
                <p>With our Business SMS feature, send professional text messages to partners &amp; colleagues. Collaborate
                    on-the-go without clogging up your email inbox. Even offer text support to your customers!</p>
            </article>
            <img src="../assets/img/png/how-it-works/professional-text.png" alt="Professional Text Message" /> </section>
        </section>
       
        {{> footer}}
</body>

</html>