<!DOCTYPE html>
<html>

<head>
   
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Signup for Cash Monkey</title>
  
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../about/about-1490894868.css">
    <link rel="stylesheet" type="text/css" href="../global-1490894872.css">
  
</head>

<body >
     <header>
        <a id=logo href="/"><img src="../logo.png" width="55" height="40" alt="Cash Monkey Logo"></a>
        
        <nav>
            <ol>
                <li><a class="" href="/">Home</a></li>
                <li><a class="" data-km=main_nav href="/how-it-works">How It Works</a></li>
                <li><a class="" href="/happy-customers">Happy Customers</a></li>
                <li><a class="signup" data-km=main_nav href="/pricing">Schedule Now</a></li>
            </ol>
        </nav>
    </header>
     <article>
        <section class=main>
            <h1>ATM Placement Program</h1>
            <h2>Sign Up and Start Earning Profits</h2>
            <figure> <img src="#" alt="Signup" title="Signup" /> </figure>
            <article>
                <h3>A Credible and Capable ATM Provider</h3>
                <p>Already made up your mind into signing up for our ATM placement program at Cash Monkey? Schedule a meeting with our local representatives today and register for free! Our 6-month ATM placement agreement entitles you to high-end ATM equipment, complete ATM services (installation, maintenance, and emergency repair services), and a superb revenue sharing plan on your ATM’s monthly transaction earnings.</p>
                <p> Many businesses in and around New York, NY have already registered for our ATM placement program, and so should you!</p>
            </article>
        </section>
        <section class=main>
            <h1>Meet With Our ATM Company</h1>
             <figure> <img src="#" alt="About Us" title="About Us" /> </figure>
            <article>
            
            <p>
               Most of our partners have requested for a re-contract because of our outstanding ATM solutions. To sign up for our ATM placement program, book an appointment with our ATM company. Our professionals will explain the ATM placement agreement from cover to cover so you would have a full understanding of our partnership. Call or email us today to schedule a meeting. We promise that you’ll be glad to be part of our program.
            </p>
            </article>
        </section>
        {{> footer}}
</body>

</html>