@-webkit-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-ms-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-webkit-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-ms-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

body>article>section.main {
    -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
    -o-box-shaodw: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding-bottom: 50px;
    position: relative;
    z-index: 2
}

body>article>section.main ol {
    list-style: none;
    margin-top: 20px
}

body>article>section.main ol:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.main ol li {
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 45px;
    position: relative;
    width: 200px;
    vertical-align: bottom
}

body>article>section.main ol li:after {
    content: url("../img/png/how-it-works/left-arrow.png");
    display: block;
    height: 12px;
    position: absolute;
    right: -35px;
    top: 95px;
    width: 37px
}

body>article>section.main ol li:before {
    bottom: 24px;
    content: "1.";
    display: block;
    left: -24px;
    position: absolute
}

body>article>section.main ol li figure {
    height: 180px;
    margin: 35px 0 0 -20px;
    width: auto
}

body>article>section.main ol li figure img {
    display: block;
    margin: 0 auto 0 auto;
    position: relative;
    width: 200px;
    height: 150px;
    z-index: 2;
}

body>article>section.main ol li:first-child {
    margin-left: 20px
}

body>article>section.main ol li.step2:before {
    content: "2."
}

body>article>section.main ol li.step3:before {
    content: "3."
}

body>article>section.main ol li.step3:after {
    right: -20px
}

body>article>section.main ol li.step3 figure {
    margin: 35px 0 0 0;
}

body>article>section.main ol li.step4:before {
    content: "4."
}

body>article>section.main ol li.step4:after {
    display: none
}

body>article>section.main>a {
    display: block;
    font-size: 18px;
    margin-top: 40px;
    text-align: center
}

body>article>section.main>a:before {
    color: #d2d2d2;
    content: "↓";
    padding-right: 5px
}

body>article>section.main>a:after {
    color: #d2d2d2;
    content: "↓";
    padding-left: 5px
}

body>article>section.main>a strong {
    color: #333;
    font-weight: 700
}

body>article>section.video h1 {
    color: #666;
    font-family: "Manwriting", sans-serif;
    font-size: 36px;
    margin: 50px 0;
    position: relative;
    text-align: center
}

body>article>section.video h1 img {
    top: 30px;
    position: absolute;
    left: 620px
}

body>article>section.video iframe,
body>article>section.video>img {
    display: block
}

body>article>section.video iframe {
    margin: 0 auto 0 auto
}

body>article>section.video>img {
    height: 36px;
    margin: 50px auto 50px auto;
    width: 16px
}

body>article>section.quiz {
    border-top: 1px solid #e2e2e2;
    display: none;
    padding: 40px 25px
}

body>article>section.quiz:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.quiz ul.navigation {
    display: none;
    margin: 20px auto 0;
    width: 144px
}

body>article>section.quiz ul.navigation.active {
    display: block
}

body>article>section.quiz ul.navigation li {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background: #999;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    height: 60px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
    position: relative
}

body>article>section.quiz ul.navigation li:hover {
    background: #8c8c8c
}

body>article>section.quiz ul.navigation li:before {
    font-family: "IcoMoon";
    content: "R";
    position: absolute;
    top: 16px;
    left: 19px
}

body>article>section.quiz ul.navigation li#previous {
    display: none;
    margin-right: 20px
}

body>article>section.quiz ul.navigation li#previous:before {
    content: "L";
    top: 16px;
    left: 17px
}

body>article>section.quiz ul.navigation li.active {
    background: #00b5c5
}

body>article>section.quiz ul.navigation li.active:hover {
    background: #009eac
}

body>article>section.quiz section.start p {
    color: #000;
    float: left;
    font-size: 18px;
    margin-top: 7px
}

body>article>section.quiz section.start p strong {
    display: block;
    font-weight: 600;
    font-size: 24px
}

body>article>section.quiz section.start .cta {
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background: #8235B2;
    color: #fff;
    display: block;
    font-weight: 600;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    float: right;
    background: #00b5c5
}

body>article>section.quiz section.start .cta:hover {
    background: #903cc5;
    text-decoration: none
}

body>article>section.quiz section.start .cta:hover {
    background: #008692
}

body>article>section.quiz section.question {
    display: none
}

body>article>section.quiz section.question.active {
    display: block
}

body>article>section.quiz section.question h1,
body>article>section.quiz section.question h2 {
    text-align: center
}

body>article>section.quiz section.question h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 40px 0 20px
}

body>article>section.quiz section.question h1.solo-header {
    margin-bottom: 38px
}

body>article>section.quiz section.question h2 {
    font-size: 22px;
    margin-bottom: 38px
}

body>article>section.quiz section.question div.slide {
    margin: 100px auto 40px;
    width: 700px;
    text-align: center
}

body>article>section.quiz section.question div.slide:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.quiz section.question div.slide input[type=radio] {
    display: none
}

body>article>section.quiz section.question div.slide input[type=radio]+label {
    color: #333;
    display: inline-block;
    font-weight: 600;
    margin: 0 188px 19px 0;
    position: relative;
    text-align: center;
    vertical-align: top
}

body>article>section.quiz section.question div.slide input[type=radio]+label:last-of-type {
    margin-right: 0
}

body>article>section.quiz section.question div.slide input[type=radio]+label span {
    background: #aaa;
    display: block;
    width: 25px;
    height: 25px;
    margin: -17px auto 10px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%
}

body>article>section.quiz section.question div.slide input[type=radio]+label span:before {
    content: url("../img/png/how-it-works/single-user.png");
    position: absolute;
    top: -50px;
    left: -8px
}

body>article>section.quiz section.question div.slide input[type=radio].selected+label span {
    background: #3bb44a
}

body>article>section.quiz section.question div.slide input[type=radio].selected+label span:before {
    content: url("../img/png/how-it-works/single-user-active.png")
}

body>article>section.quiz section.question div.slide div.progress {
    margin: 2px auto 0 auto;
    width: 680px;
    padding: 2px 0;
    background: #eee;
    border-radius: 6px
}

body>article>section.quiz section.question div.slide div.progress .progress-bar {
    height: 4px;
    border-radius: 4px
}

body>article>section.quiz section.question.call div.slide input[type=radio]+label {
    margin: 0 82px 19px 0
}

body>article>section.quiz section.question.call div.slide input[type=radio]+label[for="non-stop"],
body>article>section.quiz section.question.call div.slide input[type=radio]+label[for="almost-never"] {
    width: 100px
}

body>article>section.quiz section.question.call div.slide input[type=radio]+label[for="non-stop"] {
    margin-right: 0
}

body>article>section.quiz section.question.call div.slide input[type=radio]+label span {
    margin: -17px auto 10px
}

body>article>section.quiz section.question.call div.slide div.progress {
    width: 620px
}

body>article>section.quiz section.question.budget div.slide {
    width: 550px
}

body>article>section.quiz section.question.budget div.slide input[type=radio]+label {
    margin: 0 112px 19px 0;
    width: 50px
}

body>article>section.quiz section.question.budget div.slide input[type=radio]+label:last-of-type {
    margin-right: 0
}

body>article>section.quiz section.question.budget div.slide div.progress {
    width: 500px
}

body>article>section.quiz section.question ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.quiz section.question ul li {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #aaa;
    cursor: pointer;
    display: block;
    float: left;
    margin-bottom: 15px;
    padding: 20px;
    width: 405px
}

body>article>section.quiz section.question ul li.even {
    margin-left: 15px
}

body>article>section.quiz section.question ul li input[type=checkbox],
body>article>section.quiz section.question ul li input[type=radio] {
    display: none
}

body>article>section.quiz section.question ul li label {
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.01em;
    padding-left: 40px;
    position: relative
}

body>article>section.quiz section.question ul li label:before {
    color: #00b5c5;
    content: "b";
    display: block;
    font-family: "IcoMoon";
    font-weight: 500;
    font-size: 26px;
    left: 0;
    line-height: 1;
    position: absolute;
    top: -3px
}

body>article>section.quiz section.question ul li label em {
    color: #666;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px
}

body>article>section.quiz section.question ul li a {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    padding-left: 30px;
    position: relative
}

body>article>section.quiz section.question ul li a:before {
    content: "b";
    font-family: "IcoMoon";
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    margin-left: -30px
}

body>article>section.quiz section.question.phone ul li,
body>article>section.quiz section.question.support ul li {
    font-size: 18px
}

body>article>section.quiz section.question.phone ul li.selected,
body>article>section.quiz section.question.support ul li.selected {
    -webkit-box-shadow: 0 0 6px 2px #cce9d8;
    -moz-box-shadow: 0 0 6px 2px #cce9d8;
    -ms-box-shadow: 0 0 6px 2px #cce9d8;
    -o-box-shaodw: 0 0 6px 2px #cce9d8;
    box-shadow: 0 0 6px 2px #cce9d8;
    border-color: #3bb44a
}

body>article>section.quiz section.question.phone ul li.selected label,
body>article>section.quiz section.question.support ul li.selected label {
    color: #008f3e
}

body>article>section.quiz section.question.phone ul li.selected label:before,
body>article>section.quiz section.question.support ul li.selected label:before {
    color: #3bb44a;
    content: "c"
}

body>article>section.quiz section.question.features ul li,
body>article>section.quiz section.question.features-b ul li {
    font-size: 18px;
    width: 250px;
    min-height: 85px
}

body>article>section.quiz section.question.features ul li.selected,
body>article>section.quiz section.question.features-b ul li.selected {
    -webkit-box-shadow: 0 0 6px 2px #cce9d8;
    -moz-box-shadow: 0 0 6px 2px #cce9d8;
    -ms-box-shadow: 0 0 6px 2px #cce9d8;
    -o-box-shaodw: 0 0 6px 2px #cce9d8;
    box-shadow: 0 0 6px 2px #cce9d8;
    border-color: #3bb44a
}

body>article>section.quiz section.question.features ul li.selected label,
body>article>section.quiz section.question.features-b ul li.selected label {
    color: #008f3e
}

body>article>section.quiz section.question.features ul li.selected label:before,
body>article>section.quiz section.question.features-b ul li.selected label:before {
    color: #3bb44a;
    content: "c"
}

body>article>section.quiz section.question.support ul {
    margin: 0 auto;
    width: 400px
}

body>article>section.quiz section.question.support ul li {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    width: 130px
}

body>article>section.quiz section.question.support ul li:first-child {
    margin-right: 32px
}

body>article>section.quiz section.question.support ul li input[type=radio] {
    display: none
}

body>article>section.quiz section.question.support ul li label {
    padding-left: 35px;
    width: 60px
}

body>article>section.quiz section.question.support ul li label:before {
    color: #aaa
}

body>article>section.quiz section.question.support ul li label[for=yes]:before,
body>article>section.quiz section.question.support ul li label[for=no]:before {
    display: block;
    font-family: "IcoMoon";
    position: relative;
    margin-bottom: 10px
}

body>article>section.quiz section.question.support ul li label[for=yes]:before {
    color: #3bb44a;
    content: "c"
}

body>article>section.quiz section.question.support ul li label[for=no]:before {
    color: #DD2400;
    content: "x"
}

body>article>section.quiz section.question.support ul li label.selected:before {
    color: #3bb44a
}

body>article>section.quiz section.question.support.single-row li {
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    width: auto;
    min-width: 120px;
    text-align: center
}

body>article>section.quiz section.question.support.single-row li:last-child {
    margin-right: 0
}

body>article>section.quiz section.question.support.single-row li input[type=checkbox] {
    display: none
}

body>article>section.quiz section.question.support.single-row li label {
    padding-left: 0;
    position: relative
}

body>article>section.quiz section.question.support.single-row li label:before {
    content: url("../img/png/how-it-works/user-icon.png");
    display: block;
    position: relative;
    text-align: center
}

body>article>section.quiz section.question.results {
    text-align: center;
    width: 910px
}

body>article>section.quiz section.question.results h2 {
    font-size: 24px;
    font-weight: 600
}

body>article>section.quiz section.question.results section {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    display: block;
    font-size: 24px;
    margin: 40px 60px;
    padding: 30px;
    text-align: left
}

body>article>section.quiz section.question.results section:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.quiz section.question.results section div {
    float: left;
    width: 460px
}

body>article>section.quiz section.question.results section em {
    color: #000;
    font-weight: 600;
    text-transform: uppercase
}

body>article>section.quiz section.question.results section small {
    color: #999;
    display: block;
    font-size: 20px;
    margin-top: 10px
}

body>article>section.quiz section.question.results section a.cta {
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background: #8235B2;
    color: #fff;
    display: block;
    font-weight: 600;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    float: right;
    margin-top: 10px
}

body>article>section.quiz section.question.results section a.cta:hover {
    background: #903cc5;
    text-decoration: none
}

body>article>section.quiz section.question.results ul {
    list-style: disc outside none;
    margin: 0 80px
}

body>article>section.quiz section.question.results ul li {
    color: #333;
    border-radius: 0;
    border: 0;
    float: none;
    font-size: 20px;
    cursor: default;
    text-align: left;
    padding: 0;
    margin-bottom: 10px;
    width: auto
}

body>article>section.quiz section.question.results ul li:before {
    color: #00b5c5;
    font-weight: 600;
    font-size: 34px;
    margin-right: 10px;
    content: "•";
    vertical-align: -2px
}

body>article>section.quiz section.question.results ul li strong {
    color: #8235B2;
    font-weight: 600
}

body>article>section.feature {
    border-top: 1px solid #e2e2e2;
    padding: 65px 0
}

body>article>section.feature:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.feature>article {
    float: left;
    margin-top: 50px;
    width: 385px
}

body>article>section.feature>article h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px
}

body>article>section.feature>article p,
body>article>section.feature>article a {
    font-size: 18px;
    font-weight: 300
}

body>article>section.feature>article p {
    color: #6c6c6c;
    line-height: 1.5;
    margin-bottom: 10px
}

body>article>section.feature>article a {
    border-bottom: 1px solid #d4e6f1
}

body>article>section.feature>article a:hover {
    border-bottom-color: #aed0e4
}

body>article>section.feature>img {
    float: right
}

body>article>section.feature>img.car {
    margin-left: 0
}

body>article>section.feature>img.hardware {
    margin-right: 60px
}

body>article>section.feature.small {
    padding: 65px 150px
}

body>article>section.feature.small>h1 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center
}

body>article>section.feature.small>article {
    margin: 50px 0 0 0;
    width: 320px
}

body>article>section.feature.small>article>h1 {
    font-weight: 600;
    font-size: 22px
}

body>article>section.feature.small>article p {
    font-size: 16px
}

body>article>section.feature.small>img {
    margin: 0
}

body>article>section.feature.small>img.voicemails {
    margin-right: 100px
}

body>article>section.feature.small.callscreening img,
body>article>section.feature.small.ryvm img {
    float: left
}

body>article>section.feature.small.callscreening article,
body>article>section.feature.small.ryvm article {
    float: right
}

body>article>section.feature.small.ryvm article {
    margin-top: 25px
}

body>article>section.feature.small.voicestudio img {
    margin-right: 80px
}

body>article>section.feature.small.voicestudio article {
    margin-top: 25px
}

body>article>section.name-directory img {
    float: left
}

body>article>section.name-directory article {
    float: right
}

body>article>section.flwrgrl img {
    float: left
}

body>article>section.flwrgrl article {
    margin-top: 20px;
    float: right
}

body>article>section.fotoguy article {
    margin-top: 35px
}

body>article>section.amazing-features {
    border-top: 1px solid #e2e2e2;
    padding: 95px 0
}

body>article>section.amazing-features:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.amazing-features>h1 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center
}

body>article>section.amazing-features article.feature-description {
    float: right;
    font-weight: 300;
    font-size: 18px;
    position: relative;
    width: 620px
}

body>article>section.amazing-features article.feature-description>section {
    display: none
}

body>article>section.amazing-features article.feature-description>section>h1 {
    font-weight: normal;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 20px
}

body>article>section.amazing-features article.feature-description>section>ul {
    list-style: disc inside none;
    margin-bottom: 50px
}

body>article>section.amazing-features article.feature-description>section>ul>li {
    margin-bottom: 10px
}

body>article>section.amazing-features article.feature-description>section>img {
    right: 0;
    position: absolute;
    top: 0;
    width: 205px
}

body>article>section.amazing-features article.feature-description>section>p {
    line-height: 1.4;
    width: 400px
}

body>article>section.amazing-features article.feature-description>section>p.full {
    width: auto
}

body>article>section.amazing-features article.feature-description>section.toll-free-numbers {
    display: block
}

body>article>section.amazing-features article.feature-description>section.voice-studio img {
    width: 130px
}

body>article>section.amazing-features article blockquote {
    border: 1px solid #ddd;
    display: block;
    padding: 28px 20px 20px 20px;
    position: relative;
    float: left;
    margin-top: 40px;
    width: 247px
}

body>article>section.amazing-features article blockquote:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.amazing-features article blockquote:before {
    -webkit-box-shadow: 0 0 0 1px #8235B2;
    -moz-box-shadow: 0 0 0 1px #8235B2;
    -ms-box-shadow: 0 0 0 1px #8235B2;
    -o-box-shaodw: 0 0 0 1px #8235B2;
    box-shadow: 0 0 0 1px #8235B2;
    background: #8235B2;
    content: "";
    display: block;
    height: 6px;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%
}

body>article>section.amazing-features article blockquote q {
    color: #333;
    display: block;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px
}

body>article>section.amazing-features article blockquote q:before {
    content: "“"
}

body>article>section.amazing-features article blockquote q:after {
    content: "”"
}

body>article>section.amazing-features article blockquote img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: block;
    float: left;
    height: 48px;
    width: 48px
}

body>article>section.amazing-features article blockquote cite {
    color: #777;
    float: left;
    font-weight: 600;
    font-size: 14px;
    margin-left: 15px;
    padding-top: 5px
}

body>article>section.amazing-features article blockquote cite em {
    color: #333;
    display: block;
    font-size: 18px
}

body>article>section.amazing-features article blockquote.right {
    border: 1px solid #ddd;
    display: block;
    padding: 28px 20px 20px 20px;
    position: relative;
    margin-left: 40px
}

body>article>section.amazing-features article blockquote.right:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

body>article>section.amazing-features article blockquote.right:before {
    -webkit-box-shadow: 0 0 0 1px #3B5998;
    -moz-box-shadow: 0 0 0 1px #3B5998;
    -ms-box-shadow: 0 0 0 1px #3B5998;
    -o-box-shaodw: 0 0 0 1px #3B5998;
    box-shadow: 0 0 0 1px #3B5998;
    background: #3B5998;
    content: "";
    display: block;
    height: 6px;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%
}

body>article>section.amazing-features article blockquote.right q {
    color: #333;
    display: block;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px
}

body>article>section.amazing-features article blockquote.right q:before {
    content: "“"
}

body>article>section.amazing-features article blockquote.right q:after {
    content: "”"
}

body>article>section.amazing-features article blockquote.right img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: block;
    float: left;
    height: 48px;
    width: 48px
}

body>article>section.amazing-features article blockquote.right cite {
    color: #777;
    float: left;
    font-weight: 600;
    font-size: 14px;
    margin-left: 15px;
    padding-top: 5px
}

body>article>section.amazing-features article blockquote.right cite em {
    color: #333;
    display: block;
    font-size: 18px
}

body>article>section.amazing-features nav.feature-list {
    float: left
}

@-webkit-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@-ms-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@media screen and (max-width: 767px) {
    body>article>section.quiz {
        display: none
    }
    body>article>section.main img {
        display: block;
        width: 100%
    }
    body>article>section.main ol {
        margin: 0;
        padding-bottom: 40px
    }
    body>article>section.main ol li {
        float: none;
        list-style: none;
        text-align: center;
        width: 100%
    }
    body>article>section.main ol li.step1,
    body>article>section.main ol li.step2,
    body>article>section.main ol li.step3,
    body>article>section.main ol li.step4 {
        margin: 0 0 50px 0;
        padding-bottom: 50px
    }
    body>article>section.main ol li.step1:before,
    body>article>section.main ol li.step2:before,
    body>article>section.main ol li.step3:before,
    body>article>section.main ol li.step4:before {
        display: none
    }
    body>article>section.main ol li.step1 figure,
    body>article>section.main ol li.step2 figure,
    body>article>section.main ol li.step3 figure,
    body>article>section.main ol li.step4 figure {
        margin: 0 0 20px 0;
        height: auto;
        width: 100%
    }
    body>article>section.main ol li.step1 figure img,
    body>article>section.main ol li.step2 figure img,
    body>article>section.main ol li.step3 figure img,
    body>article>section.main ol li.step4 figure img {
        display: block;
        margin: 0 auto;
        max-width: 200px
    }
    body>article>section.main ol li.step1:after,
    body>article>section.main ol li.step2:after,
    body>article>section.main ol li.step3:after,
    body>article>section.main ol li.step4:after {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
        left: 50%;
        margin-left: -20px;
        right: auto;
        top: auto
    }
    body>article>section.main ol li.step4 {
        margin-bottom: 0;
        padding-bottom: 0
    }
    body>article>section.main #scrolltofeatures {
        padding: 15px 0;
        position: relative
    }
    body>article>section.main #scrolltofeatures strong {
        display: block
    }
    body>article>section.main #scrolltofeatures:before {
        position: absolute;
        top: -30px;
        margin-left: -9px;
        left: 50%
    }
    body>article>section.main #scrolltofeatures:after {
        position: absolute;
        bottom: -30px;
        margin-left: -9px;
        left: 50%
    }
    body>article>section.news {
        height: auto
    }
    body>article>section.news:before {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shaodw: none;
        box-shadow: none
    }
    body>article>section.news a.logos>img {
        float: none;
        display: block;
        max-width: 100%
    }
    body>article>section.news a.logos>img.inc500,
    body>article>section.news a.logos>img.cnn,
    body>article>section.news a.logos>img.foxbiz,
    body>article>section.news a.logos>img.forbes,
    body>article>section.news a.logos>img.wsj,
    body>article>section.news a.logos>img.techcrunch {
        margin: 0 auto 20px auto
    }
    body>article>section.news a.cta {
        display: block;
        float: none;
        margin: 0 auto 0 auto;
        padding: 20px 0;
        text-align: center;
        max-width: 300px;
        width: 100%
    }
    body>article>section.news a.button {
        float: none;
        margin: 40px auto 40px auto
    }
    body>article>section.video h1 img {
        display: none
    }
    body>article>section.video div {
        height: 0;
        margin-left: 0;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        width: 100%
    }
    body>article>section.video div>iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%
    }
    body>article>section.feature {
        padding: 50px 0
    }
    body>article>section.feature img {
        display: block;
        float: none;
        margin: 0 auto;
        max-width: 500px;
        padding: 0;
        width: 100%
    }
    body>article>section.feature article {
        float: none;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%
    }
    body>article>section.feature article h1 {
        font-size: 24px
    }
    body>article>section.feature.small {
        padding: 50px 0
    }
    body>article>section.feature.small h1 {
        font-size: 34px
    }
    body>article>section.feature.small article {
        float: none;
        margin: 0 0 40px 0;
        width: 100%
    }
    body>article>section.feature.small img {
        display: block;
        margin: 0 auto;
        max-width: 300px;
        width: 100%
    }
    body>article>section.feature.small img.voicemails {
        margin: 0 auto
    }
    body>article>section.feature.small.callscreening article,
    body>article>section.feature.small.callscreening img,
    body>article>section.feature.small.ryvm article,
    body>article>section.feature.small.ryvm img,
    body>article>section.feature.small.voicestudio article,
    body>article>section.feature.small.voicestudio img {
        float: none
    }
    body>article>section.feature.small.callscreening img,
    body>article>section.feature.small.ryvm img,
    body>article>section.feature.small.voicestudio img {
        margin: 0 auto
    }
    body>article>section.amazing-features article.feature-description {
        display: none;
        width: 100%
    }
    body>article>section.amazing-features nav.feature-list {
        text-align: center;
        width: 100%
    }
    body>article>section.amazing-features nav.feature-list ol li.active a {
        color: #656565;
        font-weight: 300
    }
    body>article>section.amazing-features nav.feature-list ol li.active a:after {
        display: none
    }
}

body>article>section.video h1 img {
    top: 30px;
    position: absolute;
    /*left: 620px;*/
    margin-left: 30px;
}

.section-imgs-1{
    width: 400px;
    height: 300px;
}
.section-imgs-2{
    width: 400px;
    height: 400px;
}
.section-imgs-3{
    width: 400px;
    height: 300px;
}
.section-imgs-4{
    width: 450px;
    height: 300px;
}